/**
 * $FORM-ITEM
 */

.form-item {
  color: $mid-grey;

  label {
    margin-bottom: 0.4em;
  }
  .form-select,
  .form-text,
  .form-textarea,
  .form-search,
  .form-email,
  .form-tel {
    width: 100%;
    padding: 0.4em;
    background-color: $form-element-background;
    border: 1px solid $form-element-border;
    color: $form-element-color;
    vertical-align: middle;
    @include responsive-text-size('base');
  }
  .description {
    margin-top: 0.2em;
    font-style: italic;
  }
}

.container-inline {
  .form-select,
  .form-text,
  .form-textarea {
    width: auto;
  }
}


.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid $form-element-error;
}