/**
 * $SEARCH-FORM
 */
.search-block-form {
  .form-search {
    width: 100%;
    padding: 0.4em;
    background-color: $form-element-background;
    border: 1px solid $form-element-border;
    color: $form-element-color;
    vertical-align: middle;
    @include responsive-text-size('base');
  }
}
