<div id="right-panel">
    <form>
        <input id="start" type="text" name="start" placeholder="Enter your postcode">
        <input id="fetch" type="button" value="Get Directions" class="fetch">
    </form>
</div>
<div id="map"></div>
