.our-work-item {
    float: left;
}
.our-work-background {
    border: 5px solid white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    //position: relative;
}

.our-work-landscape {
    width: 50%;
}

.our-work-square {
    width: 25%;
}

.client-logo-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
}
.client-logo-container:hover {
    opacity: 1;
}

.client-logo-container:focus {
    opacity: 1;
}

.client-logo {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    /*width: 200px;
    height: 200px;*/
}