@include breakpoint(mobile) {
  .page-node-type-article {
    padding: 10px;
    h1 {
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    .field--name-field-intro {
      p {
        font-size: 120%;
        font-weight: bolder;
      }
    }
    .field--name-field-images {
      margin-bottom: $vert-spacing-unit;
      img {
        margin-bottom: $vert-spacing-unit/2;
        width: 100%;
      }
    }
    .field--name-field-sub-page-small-image {
      float: right;
      padding-left: 5px;
      padding-bottom: 5px;
    }
    .field--name-field-body-after-images- {
      margin-bottom: $vert-spacing-unit;
      p {
        a {
          @include linx($black, $orange, $black, $black);
        }
      }
    }
  }
}
@include breakpoint(mobilelarge) {
  .page-node-type-article {
    padding: 10px;
    h1 {
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    .field--name-field-intro {
      p {
        font-size: 120%;
        font-weight: bolder;
      }
    }
    .field--name-field-images {
      margin-bottom: $vert-spacing-unit;
      img {
        margin-bottom: $vert-spacing-unit/2;
        width: 100%;
      }
    }
    .field--name-field-sub-page-small-image {
      float: right;
      padding-left: 5px;
      padding-bottom: 5px;
    }
    .field--name-field-body-after-images- {
      margin-bottom: $vert-spacing-unit;
      p {
        a {
          @include linx($black, $orange, $black, $black);
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .page-node-type-article {
    padding: 0;
    h1 {
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    .field--name-field-intro {
      p {
        font-size: 120%;
        font-weight: bolder;
      }
    }
  }
}