#cboxWrapper {
  background: $black;
  border-radius: 0;
}

#cboxCurrent {
  color: $white;
  bottom: -4px;
}

#cboxPrevious {
  background: url(../images/previous.png);
  &:hover {
    background-position: 0 0;
  }
  &:focus {
    outline: 0;
  }
}

#cboxNext {
  background: url(../images/next.png);
  &:hover {
    background-position: 0 0;
  }
  &:focus {
    outline: 0;
  }
}

#cboxClose {
  background: url(../images/close.png);
  &:hover {
    background-position: 0 0;
  }
  &:focus {
    outline: 0;
  }
}

#cboxContent,
.cboxPhoto {
  border-radius: 0;
  background: $black;
  #cboxTitle {
    background: $dupree-red;
    border-radius: 0;
    color: $white;
    font-family: 'MuseoSlab-700';
  }
  #cboxClose.cbox-close-plain {
    background: $dupree-red;
    color: $white;
    font-size: 16px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
  }
}

h2.similiar-articles {
  $margin-bottom: $vert-spacing-unit;
}

@include breakpoint(mobile) {
  .page-node-type-portfolio {
    padding: 10px;
    h1 {
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    .field--name-field-intro {
      margin-bottom: $vert-spacing-unit;
    }
    .field--name-field-images {
      text-align: center;
      .field__item {
        margin-bottom: $vert-spacing-unit;
        a {
          &:focus {
            outline: 0;
          }
        }
      }
    }
    .field--name-body,
    .field--name-field-in-there,
    .field--name-field-out-there {
      margin-bottom: $vert-spacing-unit;
      h3 {
        color: $dupree-red;
        font-family: 'MuseoSlab-700';
      }
      a {
        @include linx ($dupree-red, $orange, $orange, $orange);
      }
    }
    .related-content {
      .views-element-container {
        h2 {
          $margin-bottom: $vert-spacing-unit;
        }
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .node--type-portfolio {
    padding: 10px;
    h1 {
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    .field--name-field-intro {
      margin-bottom: $vert-spacing-unit;
    }
    .field--name-field-images {
      text-align: center;
      .field__item {
        margin-bottom: $vert-spacing-unit;
        height: 240px;
        .aligner {
          @include vertical-align();
        }
        a {
          &:focus {
            outline: 0;
          }
        }
      }
    }
    .field--name-body,
    .field--name-field-in-there,
    .field--name-field-out-there {
      margin-bottom: $vert-spacing-unit;
      h3 {
        color: $dupree-red;
        font-family: 'MuseoSlab-700';
      }
      a {
        @include linx ($dupree-red, $orange, $orange, $orange);
      }
    }
    .related-content {
      .views-element-container {
        h2 {
          $margin-bottom: $vert-spacing-unit;
        }
      }
    }
  }
}

@include breakpoint(phablet) {
  .node--type-portfolio {
    padding: 10px;
    h1 {
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    .field--name-field-intro {
      margin-bottom: $vert-spacing-unit;
    }
    .field--name-field-images {
      clear: both;
      text-align: center;
      margin-bottom: $vert-spacing-unit;
      @include clearfix;
      .field__item {
        width: 50%;
        float: left;
        margin-bottom: $vert-spacing-unit;
        padding: 5px;
        &:nth-child(3n) {
          clear: left;
        }

      }
    }
    .field--name-field-in-there,
    .field--name-field-out-there {
      margin-bottom: $vert-spacing-unit;
      h3 {
        color: $dupree-red;
        font-family: 'MuseoSlab-700';
      }
    }
    .related-content {
      .views-element-container {
        h2 {
          $margin-bottom: $vert-spacing-unit;
        }
      }
    }
  }
}

@include breakpoint(tablet) {
  .node--type-portfolio {
    padding: 10px;
    h1 {
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    .field--name-field-intro {
      margin-bottom: $vert-spacing-unit;
    }
    .field--name-field-images {
      margin-bottom: $vert-spacing-unit;
      clear: both;
      text-align: center;
      .field__item {
        width: 33.33333%;
        float: left;
        margin-bottom: $vert-spacing-unit;
        padding: 5px;
        &:nth-child(3n) {
          clear: none;
        }
        &:nth-child(4n) {
          clear: left;
        }
        &:last-child {
          @include clearfix();
        }
      }
    }
    .field--name-field-in-there,
    .field--name-field-out-there {
      margin-bottom: $vert-spacing-unit;
      h3 {
        color: $dupree-red;
        font-family: 'MuseoSlab-700';
      }
    }
    .related-content {
      .views-element-container {
        @include clearfix();
        h2 {
          $margin-bottom: $vert-spacing-unit;
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .node--type-portfolio {

    padding: 0;
    h1 {
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    .field--name-field-intro {
      margin-bottom: $vert-spacing-unit;
    }
    .field--name-field-images {
      margin-bottom: $vert-spacing-unit;
      clear: both;
      text-align: center;
      .field__item {
        width: 33.33333%;
        float: left;
        margin-bottom: $vert-spacing-unit;
        padding: 5px;
        height: 240px;
        .aligner {
          @include vertical-align();
        }
      }
    }
    .field--name-field-in-there,
    .field--name-field-out-there {
      margin-bottom: $vert-spacing-unit;
      h3 {
        color: $dupree-red;
        font-family: 'MuseoSlab-700';
      }
    }
    .field--name-field-out-there {
      margin-bottom: $vert-spacing-unit*3;
    }
    .views-element-container {
      @include clearfix();
    }

  }
}