@include breakpoint(mobile) {
  .node--type-service.node--view-mode-full {
    .flexbox {
      display: flex;
      overflow: hidden;
      margin-bottom: $vert-spacing-unit;
      .col {
        //flex: 1;
        //padding: 20px;
        &:first-child {
          flex: 1;
          padding: $vert-spacing-unit 0 0 0;
          img {
            //width: 100px;
          }
        }
        &:last-child {
          flex: 9;
          padding: $vert-spacing-unit 0 0 $horz-spacing-unit;
        }
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .node--type-service.node--view-mode-full {
    .flexbox {
      display: flex;
      overflow: hidden;
      margin-bottom: $vert-spacing-unit;
      .col {
        //flex: 1;
        //padding: 20px;
        &:first-child {
          flex: 1;
          padding: $vert-spacing-unit 0 0 0;
          img {
            //width: 100px;
          }
        }
        &:last-child {
          flex: 9;
          padding: $vert-spacing-unit 0 0 $horz-spacing-unit;
        }
      }
    }
  }
}

@include breakpoint(phablet) {
  .node--type-service.node--view-mode-full {
    .flexbox {
      display: flex;
      overflow: hidden;
      margin-bottom: $vert-spacing-unit;
      .col {
        //flex: 1;
        //padding: 20px;
        &:first-child {
          flex: 1;
          padding: $vert-spacing-unit 0 0 0;
          img {
            //width: 100px;
          }
        }
        &:last-child {
          flex: 9;
          padding: $vert-spacing-unit 0 0 $horz-spacing-unit;
        }
      }
    }
  }
}