@include breakpoint(mobile) {
  .page-node-type-career {
    h1 {
      margin-bottom: $vert-spacing-unit;
    }
    ul {
      margin-left: $horz-spacing-unit*2;
      list-style-type: square;
    }
    .to-contact-wrapper {
      margin-bottom: $vert-spacing-unit;
      .to-contact {
        display: inline-block;
      }
    }
    .field--name-field-closing-date,
    .field--name-field-job-description {
      margin-bottom: $vert-spacing-unit*2;
      .field__label {
        display: inline-block;
        font-weight: bold;
      }
      .field__item {
        display: inline-block;
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .page-node-type-career {
    h1 {
      margin-bottom: $vert-spacing-unit;
    }
    .field--name-body {
      margin-bottom: $vert-spacing-unit*2;
      ul {
        margin-left: $horz-spacing-unit*2;
        list-style-type: square;
      }
    }

    .to-contact-wrapper {
      margin-bottom: $vert-spacing-unit;
      .to-contact {
        display: inline-block;
      }
    }
    .field--name-field-closing-date,
    .field--name-field-job-description  {
      margin-bottom: $vert-spacing-unit*2;
      .field__label {
        display: inline-block;
        font-weight: bold;
      }
      .field__item {
        display: inline-block;
      }
    }
  }
}