.page-node-type-employee {
  .node__content {
    .field--name-field-employee-image {
      margin-bottom: $vert-spacing-unit;
      @include clearfix();
    }
    .field--name-field-job-title {
      margin-bottom: $vert-spacing-unit;
      .field__label {
        color: $dupree-red;
        font-family: 'MuseoSlab-700';
        @include font-size(24px);
        line-height: 34px;
        display: inline-block;
        &:after {
          content: ":";
        }
      }
      .field__item {
        @include font-size(20px);
        line-height: 34px;
        display: inline-block;
      }
    }
    .field--name-body {
      .field__label {
        color: $dupree-red;
        font-family: 'MuseoSlab-700';
        @include font-size(24px);
        line-height: 34px;
      }
    }
    .field--name-field-dupree-services {
      margin-bottom: $vert-spacing-unit;
      ul:first-of-type {
        @include font-size(24px);
        line-height: 34px;
      }
    }
  }
}