{% set values = [] %}
  {% for item in items %}
      {% set values = values|merge([item.content['#plain_text']]) %}
  {% endfor %}


<div class="related-content">{{ drupal_view('dupree_portfolio_by_service', 'block_1', values|join(',')) }}</div>




