@include breakpoint(mobile) {
  body.not-front {
    .l-content {
      padding: 0 10px;
    }
    .l-main-wrapper {
      padding-top: 60px;
    }
    .l-region--sidebar-second {
      padding: 0
    }
  }
}

@include breakpoint(mobilelarge) {
  body.not-front {
    .l-content {
      padding: 0 10px;
    }
    .l-main-wrapper {
      padding-top: 100px;
    }
    .l-region--sidebar-second {
      padding: 0 10px;
    }
  }
}


@include breakpoint(phablet) {
  body.not-front {
    .l-content {
      padding: 0 10px;
    }
    .l-main-wrapper {
      padding-top: 100px;
    }
    .l-region--sidebar-second {
      padding-right: 0;
      padding-top: 12px;
    }
  }
}


@include breakpoint(desktop) {
  body.not-front {
    .l-content {
      padding: 0;
    }
    .l-main-wrapper {
      padding-top: 100px;
    }
    .l-region--sidebar-second {
      padding: 0;
      padding-top: 30px;
    }
  }
}