@include breakpoint(mobile) {
  .l-header {
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    #block-konnekt-branding {
      display: block;
      width: 46%;
      height: 80px;
      position: absolute;
      right: -20%;
      a {
        img {
          padding: 5px;
          max-height: 100%;
          max-width: 100%;

        }
      }
    }
  }


}


@include breakpoint(mobilelarge) {
  .l-header {
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    #block-konnekt-branding {
     display: block;
      width: 46%;
      height: 80px;
      position: absolute;
      right: -20%;
      a {
        img {
          padding: 5px;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

}

@include breakpoint(phablet) {
  .l-header {
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;

    #block-konnekt-branding {
     display: block;
      width: 46%;
      height: 80px;
      position: absolute;
      right: -20%;
      a {
        img {
          padding: 5px;
          max-height: 100%;
          max-width: 100%;

        }
      }
    }
  }

}
