@include breakpoint(mobile) {
  section.first {
    height: 100vh;
    position: relative;
    top: 0;
  }

  section.second {
    background: white;
    position: relative;
    padding-top: 20px;
    z-index: 10;
  }
  /********** Page Turner ************/
  section.third {
    background: $orange;
    position: relative;
    z-index: 20;
    padding: 0 5px;
  }
  section.fourth {
    background: $white;
    position: relative;
    z-index: 30;
  }

  section.sixth {
    position: relative;
    z-index: 20;
    .l-content-five {
      background: $orange;
      .region-five {
        position: relative;
      }
    }
  }

  section.fifth {
    background: $white;
    position: relative;
    z-index: 30;
  }
}

@include breakpoint(mobilelarge) {
  section.first {
    height: 100vh;
    position: relative;
    top: 0;
  }

  section.second {
    background: white;
    position: relative;
    padding-top: 20px;
    z-index: 10;
  }
  /********** Page Turner ************/
  section.third {
    background: $orange;
    position: relative;
    z-index: 20;
    padding: 0 5px;
  }
  section.fourth {
    background: $white;
    position: relative;
    z-index: 30;
  }

  section.sixth {
    position: relative;
    z-index: 20;
    .l-content-five {
      background: $orange;
      .region-five {
        position: relative;
      }
    }
    .contact-mobile-landscape {
      height: 175%;
    }
  }

  section.fifth {
    background: $white;
    position: relative;
    z-index: 30;
  }
}

@include breakpoint(phablet) {
  section.first {
    height: 100vh;
    position: relative;
    top: 0;
  }

  section.second {
    background: white;
    position: relative;
    padding-top: 20px;
    z-index: 10;
  }
  /* Page Turner */
  /*section.third {
    background: $orange;
    position: relative;
    z-index: 20;
    height: 120vh;
    .l-content-two {
    }
  }*/
  section.fourth {
    background: $white;
    position: relative;
    z-index: 30;
  }

  section.sixth {
    position: relative;
    z-index: 20;
    .l-content-five {
      background: $orange;
      .region-five {
        position: relative;
      }
    }
    /*.contact-mobile-landscape {
      height: 175%;
    }*/
  }

  section.fifth {
    background: $white;
    position: relative;
    z-index: 30;
  }
}

@include breakpoint(tablet) {
  section.first {
    height: 100vh;
    position: relative;
    top: 0;
  }

  section.second {
    background: white;
    position: relative;
    padding-top: 20px;
    z-index: 10;
  }
  /* Page Turner */
  /*section.third {
    background: $orange;
    position: relative;
    z-index: 20;
    height: 650px;
    .l-content-two {

    }
  }*/
  section.fourth {
    background: $white;
    position: relative;
    z-index: 30;
  }

  section.sixth {
    position: relative;
    z-index: 20;
    .l-content-five {
      background: $orange;
      .region-five {
        position: relative;
      }
    }
    /*.contact-mobile-landscape {
      height: 175%;
    }*/
  }

  section.fifth {
    background: $white;
    position: relative;
    z-index: 30;
  }
}


@include breakpoint(tabletwide) {
  section.first {
    height: 768px;
    position: relative;
    top: 0;
  }

  section.second {
    background: white;
    position: relative;
    padding-top: 20px;
    z-index: 10;
  }
  /* Page Turner */
  section.third {
    background: $orange;
    position: relative;
    z-index: 20;
    height: 100vh;
    .l-content-two {

    }
  }
  section.fourth {
    background: $white;
    position: relative;
    z-index: 30;
  }

  section.sixth {
    position: relative;
    z-index: 20;
    .l-content-five {
      background: $orange;
      .region-five {
        position: relative;
      }
    }
    /*.contact-mobile-landscape {
      height: 175%;
    }*/
  }

  section.fifth {
    background: $white;
    position: relative;
    z-index: 30;
  }
}

@include breakpoint(laptop) {
  section.first {
    height: 768px;
    position: relative;
    top: 0;
  }

  section.second {
    background: white;
    position: relative;
    padding-top: 20px;
    z-index: 10;
  }
  /* Page Turner */
  section.third {
    background: $orange;
    position: relative;
    z-index: 20;
    padding: 0 5px 300px 5px;
  }
  section.fourth {
    background: $white;
    position: relative;
    z-index: 30;
  }

  section.sixth {
    position: relative;
    z-index: 20;
    .l-content-five {
      background: $orange;
      .region-five {
        position: relative;
      }
    }
  }

  section.fifth {
    background: $white;
    position: relative;
    z-index: 30;
  }
}

@include breakpoint(desktop) {
  section.first {
    height: 100vh;
    position: relative;
    top: 0;
  }

  section.second {
    background: white;
    position: relative;
    padding-top: 20px;
    z-index: 10;
  }
  /* Page Turner */
  section.third {
    background: $orange;
    position: relative;
    z-index: 20;
    padding: 0 5px 300px 5px;
  }
  section.fourth {
    background: $white;
    position: relative;
    z-index: 30;
  }

  section.sixth {
    position: relative;
    z-index: 20;
    .l-content-five {
      background: $orange;
      .region-five {
        position: relative;
      }
    }
  }

  section.fifth {
    background: $white;
    position: relative;
    z-index: 30;
  }
}


