<div class="our-work-block">
    {% for row in content %}
        <div class="our-work-item {{ row.image_class }}">
            <a href={{ row.link }}>
                <div class="our-work-background" style="background-image:url({{ row.main_image }})">
                    <div class="client-logo-container">
                        <div class="client-logo">{{ row.logo_image }}</div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    <div class="show-all-work">
        <h3>
            <a href="{{ path('view.dupree_masonry.page_1') }}">{{ 'Show all work'|t }} {{ user.field_display_name.value }}</a>
        </h3>
    </div>
</div>