
@font-face {
  font-family: 'MuseoSlab-700';
  src: url('MuseoSlab-700.eot?#iefix') format('embedded-opentype'),  url('MuseoSlab-700.otf')  format('opentype'),
	     url('MuseoSlab-700.woff') format('woff'), url('MuseoSlab-700.ttf')  format('truetype'), url('MuseoSlab-700.svg#MuseoSlab-700') format('svg');
  font-weight: normal;
  font-style: normal;
}
