/*
* Form base
*/
select,
input,
textarea
{
  &:focus {
    box-shadow: 0 0 4px 1px rgba($form-box-shadow, 0.5) inset;
    outline: 1px solid $focus;
  }
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: ($vert-spacing-unit / 2) $horz-spacing-unit $vert-spacing-unit $horz-spacing-unit;

  border-color: $light-grey;
}

legend {
  @include font-size(18px);
  padding: 0 0.8em;
  color: $mid-grey;
}