@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?-9heso');
  src: url('../fonts/icomoon/icomoon.eot?#iefix-9heso') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.woff?-9heso') format('woff'),
  url('../fonts/icomoon/icomoon.ttf?-9heso') format('truetype'),
  url('../fonts/icomoon/icomoon.svg?-9heso#icomoon') format('svg');
}

@font-face {
  font-family: 'arrows';
  src: url('../fonts/arrows/arrows.eot');
  src: url('../fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'),
  url('../fonts/arrows/arrows.woff') format('woff'),
  url('../fonts/arrows/arrows.ttf') format('truetype'),
  url('../fonts/arrows/arrows.svg#arrows') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans-900';
  src: url('../fonts/MuseoSans-900/MuseoSans-900.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans-900/MuseoSans-900.otf') format('opentype'),
  url('../fonts/MuseoSans-900/MuseoSans-900.woff') format('woff'), url('../fonts/MuseoSans-900/MuseoSans-900.ttf') format('truetype'),
  url('../fonts/MuseoSans-900/MuseoSans-900.svg#MuseoSans-900') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab-300';
  src: url('../fonts/MuseoSlab-300/MuseoSlab-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSlab-300/MuseoSlab-300.otf') format('opentype'),
  url('../fonts/MuseoSlab-300/MuseoSlab-300.woff') format('woff'), url('../fonts/MuseoSlab-300/MuseoSlab-300.ttf') format('truetype'), url('../fonts/MuseoSlab-300/MuseoSlab-300.svg#MuseoSlab-300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab-700';
  src: url('../fonts/MuseoSlab-700/MuseoSlab-700.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSlab-700/MuseoSlab-700.otf') format('opentype'),
  url('../fonts/MuseoSlab-700/MuseoSlab-700.woff') format('woff'), url('../fonts/MuseoSlab-700/MuseoSlab-700.ttf') format('truetype'), url('../fonts/MuseoSlab-700/MuseoSlab-700.svg#MuseoSlab-700') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab-900';
  src: url('../fonts/MuseoSlab-900/MuseoSlab-900.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSlab-900/MuseoSlab-900.otf') format('opentype'),
  url('../fonts/MuseoSlab-900/MuseoSlab-900.woff') format('woff'), url('../fonts/MuseoSlab-900/MuseoSlab-900.ttf') format('truetype'), url('../fonts/MuseoSlab-900/MuseoSlab-900.svg#MuseoSlab-900') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $open_sans;
  color: $base-font-color;
}

/*
* Link Colours
*/
a {
  @include linx ($link, $visit, $hover, $active);
  text-decoration: none;
}

h1,
.text--mega {
  font-family: 'MuseoSlab-900';
  @include responsive-text-size('mega');
  span.quickedit-field {
    @include responsive-text-size('mega');
  }
}

h2,
.text--kilo {
  font-family: 'MuseoSlab-700';
  @include responsive-text-size('kilo');
}

h3,
.text--hecto {
  @include responsive-text-size('hecto');
}

h4,
.text--deca {
  @include responsive-text-size('deca');
  color: $dupree-red;
}

h5,
h6,
body,
.text--base {
  @include responsive-text-size('base');
}

.text--deci {
  @include responsive-text-size('deci');
}

small,
.text--centi {
  @include responsive-text-size('centi');
}

p,
.text--base {
  @include responsive-text-size('base');
  margin-bottom: $vert-spacing-unit;
  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: red;
  }
}

p + img {
  float: left;
  margin-right: 1em;
}

/* CK Editor */

em {
  font-style: italic;
}

ul {
  margin-left: $horz-spacing-unit*2;
  list-style-type: square;
}
ul.links.inline {
  margin-left: 0;
  list-style-type: none;
}
strong {
  font-weight: bold;
}

.text-h4 {
  @include responsive-text-size('deca');
}








