/* Basic sample */

.flipbook-outer-container{
	//height: 100vh;
	overflow:hidden;
	//background-color:#fcfcfc;
	margin:0;
	padding:0;
}

.flipbook-viewport{
	clear: both;
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:1200px;
	height:600px;
	left:-600px;
	top:-300px;
}

.flipbook-viewport .page{
	width:600px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.5);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.5);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.5);
	box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #000;
	-moz-box-shadow:0 0 20px #000;
	-o-box-shadow:0 0 20px #000;
	-ms-box-shadow:0 0 20px #000;
	box-shadow:0 0 20px #000;
}

/** Buttons **/
.flipbook-viewport .next-button,
.flipbook-viewport .previous-button{
	display: none;
	width:22px;
	height:600px;
	position:absolute;
	top:0;
}

.flipbook-viewport .next-button{
	right:-22px;
	-webkit-border-radius:0 15px 15px 0;
	-moz-border-radius:0 15px 15px 0;
	-ms-border-radius:0 15px 15px 0;
	-o-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
}

.flipbook-viewport .previous-button{
	left:-22px;
	-webkit-border-radius:15px 0 0 15px;
	-moz-border-radius:15px 0 0 15px;
	-ms-border-radius:15px 0 0 15px;
	-o-border-radius:15px 0 0 15px;
	border-radius:15px 0 0 15px;
}

.flipbook-viewport .previous-button-hover,
.flipbook-viewport .next-button-hover{
	background-color:rgba(0,0,0, 0.2);
}

.flipbook-viewport .previous-button-hover,
.flipbook-viewport .previous-button-down{
	background-image:url(../images/arrows.png);
	background-position:-4px 284px;
	background-repeat:no-repeat;
}

.flipbook-viewport .previous-button-down,
.flipbook-viewport .next-button-down{
	background-color:rgba(0,0,0, 0.4);
}

.flipbook-viewport .next-button-hover,
.flipbook-viewport .next-button-down{
	background-image:url(../images/arrows.png);
	background-position:-38px 284px;
	background-repeat:no-repeat;
}

.flipbook-viewport .zoom-in .next-button,
.flipbook-viewport .zoom-in .previous-button{
	display:none;
}
