@include breakpoint(mobile) {
  .block-views-blockdupree-articles-block-block-1 {
    padding: 0 10px;
    h2 {
      margin-bottom: $vert-spacing-unit;
    }
    .views-row {
      text-align: center;
      h3 {
        margin-bottom: $vert-spacing-unit;
        font-family: 'MuseoSlab-700';
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .block-views-blockdupree-articles-block-block-1 {
    padding: 0 10px;
    h2 {
      margin-bottom: $vert-spacing-unit;
    }
    .views-row {
      text-align: center;
      h3 {
        margin-bottom: $vert-spacing-unit;
        font-family: 'MuseoSlab-700';
      }
      .views-field-field-images {
        margin-bottom: $vert-spacing-unit;
        img {
          width: 100%;
        }
      }
    }
  }
}

@include breakpoint(tablet) {
  .block-views-blockdupree-articles-block-block-1 {
    padding: 0 5px;
    h2 {
      margin-bottom: $vert-spacing-unit;
    }
    .views-row {
      text-align: center;
      h3 {
        margin-bottom: $vert-spacing-unit;
        font-family: 'MuseoSlab-700';
      }
      .views-field-field-images {
        margin-bottom: $vert-spacing-unit;
        img {
          width: 100%;
        }
      }
    }
  }
}