@include breakpoint(mobile) {
  #block-contactinformation {
    padding: 20px;
    .field--name-body {
      p {
        font-family: 'MuseoSlab-700';
      }
      p:first-of-type {
        @include font-size(16px);
        font-weight: bold;
        color: $black;
        margin-bottom: 3px;
      }
      p:nth-child(2) {
        color: $white;
        @include font-size(24px);
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 3px;
        a {
          @include linx($white, $white, $white, $white);
        }
      }
      p:nth-child(3) {
        @include font-size(16px);
        font-weight: bold;
        color: $black;
        margin-bottom: 0;
      }
      p:nth-child(4) {
        @include font-size(16px);
        font-weight: bold;
        color: $black;
      }
      p:nth-child(5) {
        @include font-size(16px);
        font-weight: bold;
        margin-bottom: 0px;
        a {
          @include linx($white, $white, $white, $white);
        }
      }
    }
  }
}


@include breakpoint(mobilelarge){
  #block-contactinformation {
    padding: 20px;
    .field--name-body {
      p {
        font-family: 'MuseoSlab-700';
      }
      p:first-of-type {
        @include font-size(16px);
        font-weight: bold;
        color: $black;
      }
      p:nth-child(2) {
        color: $white;
        @include font-size(34px);
        line-height: 44px;
        font-weight: bold;
        a {
          @include linx($white, $white, $white, $white);
        }
      }
      p:nth-child(3) {
        @include font-size(16px);
        font-weight: bold;
        color: $black;
        margin-bottom: 0;
      }
      p:nth-child(4) {
        @include font-size(16px);
        font-weight: bold;
        color: $black;
      }
      p:nth-child(5) {
        @include font-size(16px);
        font-weight: bold;
        a {
          @include linx($white, $white, $white, $white);
        }
      }
    }
  }
}

@include breakpoint(phablet){
  #block-contactinformation {
    width: 100%;
    padding: 20px 20px 20px 20px;
    .field--name-body {
      p:first-of-type {
        font-weight: bold;
        color: $black;
      }
      p:nth-child(2) {
        color: $white;
        @include font-size(24px);
        line-height: 34px;
        font-weight: bold;
      }
      p:nth-child(3) {
        @include font-size(18px);
        font-weight: bold;
        color: $black;
        margin-bottom: 0;
      }
      p:nth-child(4) {
        @include font-size(18px);
        font-weight: bold;
        color: $black;
      }
      p:nth-child(5) {
        @include font-size(18px);
        font-weight: bold;
      }
    }
  }
}

@include breakpoint(tablet){
  #block-contactinformation {
    width: 100%;
    padding: 20px 20px 20px 20px;
    .field--name-body {
      p:first-of-type {
        font-weight: bold;
        color: $black;
      }
      p:nth-child(2) {
        color: $white;
        @include font-size(34px);
        line-height: 44px;
        font-weight: bold;
      }
      p:nth-child(3) {
        @include font-size(18px);
        font-weight: bold;
        color: $black;
        margin-bottom: 0;
      }
      p:nth-child(4) {
        @include font-size(18px);
        font-weight: bold;
        color: $black;
      }
      p:nth-child(5) {
        @include font-size(18px);
        font-weight: bold;
      }
    }
  }
}

@include breakpoint(desktop){
  #block-contactinformation {
    width: 100%;
    padding: 20px 20px 20px 20px;
    .field--name-body {
      p:first-of-type {
        @include font-size(28px);
        font-weight: bold;
        color: $black;
      }
      p:nth-child(2) {
        color: $white;
        @include font-size(34px);
        line-height: 44px;
        font-weight: bold;
      }
      p:nth-child(3) {
        @include font-size(28px);
        font-weight: bold;
        color: $black;
        margin-bottom: 0;
      }
      p:nth-child(4) {
        @include font-size(28px);
        font-weight: bold;
        color: $black;
      }
      p:nth-child(5) {
        @include font-size(28px);
        font-weight: bold;
      }
    }
  }
}