@include breakpoint(mobile) {
  .block-herofrontpage  {
    width: 100%;
    background: rgba(245, 245, 235, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    padding: 10px;
    height: 360px;
    img.align-center {
      width: 220px;
    }
    .content-align {
      @include vertical-align();
      .field--name-body {
        p {
          font-family: 'MuseoSlab-900';
        }
        p:nth-child(2) {
          @include font-size(6px);
          margin-bottom: 0;
          line-height: 14px;
        }
        p:nth-child(3) {
          @include font-size(22px);
        }
        p:nth-child(4) {
          font-family: 'MuseoSlab-700';
        }
      }
    }
  }
}


@include breakpoint(mobilelarge) {
  .block-herofrontpage  {
    width: 100%;
    background: rgba(245, 245, 235, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    padding: 10px;
    height: 360px;
    img.align-center {
      width: 220px;
    }
    .content-align {
      @include vertical-align();
    }
    .field--name-body {
      p {
        font-family: 'MuseoSlab-900';
      }
      p:nth-child(2) {
        @include font-size(6px);
        margin-bottom: 0;
        line-height: 20px;
      }
      p:nth-child(3) {
        @include font-size(22px);
      }
      p:nth-child(4) {
        font-family: 'MuseoSlab-700';
      }
    }
  }
}


@include breakpoint(phablet) {
  .block-herofrontpage {
    width: 100%;
    background: rgba(245, 245, 235, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    padding: 10px;
    height: 360px;
    img.align-center {
      width: 220px;
    }
    .content-align {
      @include vertical-align();
    }
    .field--name-body {
      p:nth-child(2) {
        @include font-size(6px);
        margin-bottom: 0;
        line-height: 26px;
      }
      p:nth-child(2) {
        @include font-size(6px);
        margin-bottom: 0;
        line-height: 20px;
      }
      p:nth-child(3) {
        @include font-size(22px);
      }
    }
  }
  .mobile-landscape {
    height: 200px;
    img.align-center {
      width: 120px;
      margin-bottom: $vert-spacing-unit;
    }
    .field--name-body {
      p {
        line-height: 20px;
        &:first-child {
          display: none;
        }
      }
      p:first-of-type {
        display: none;
      }
    }

  }
}


@include breakpoint(tablet) {
  .block-herofrontpage {
    width: 600px;
    background: rgba(245, 245, 235, 0.8);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -300px;
    z-index: 50;
    padding: 10px;
    height: 360px;
    img.align-center {
      width: 220px;
    }
    .content-align {
      @include vertical-align();
    }
    .field--name-body {
      p:nth-child(2) {
        @include font-size(16px);
        margin-bottom: 9px;
        line-height: 20px;
      }
      p:nth-child(3) {
        @include font-size(26px);
      }
      p:nth-child(4) {
        @include font-size(20px);
      }
    }
  }
}

@include breakpoint(desktop) {
  .block-herofrontpage {
    width: 100%;
    background: rgba(245, 245, 235, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0;
    z-index: 50;
    padding: 30px;
    height: 300px;
    img.align-center {
      width: 220px;
    }
    .content-align {
      @include vertical-align();
    }
    .field--name-body {
      p:nth-child(2) {
        margin-bottom: 18px;
        line-height: 26px;
      }
      p:nth-child(3) {
        @include font-size(26px);
        line-height: 36px;
        margin-bottom: 18px;
      }
      p:nth-child(4) {
        @include font-size(20px);
      }
    }
  }
}

@include breakpoint(desktopwide) {
  .block-herofrontpage {
    width: 1200px;
    background: rgba(245, 245, 235, 0.8);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -600px;
    z-index: 50;
    padding: 30px;
    height: 500px;
    img.align-center {
      width: 340px;
    }
    .content-align {
      @include vertical-align();
    }
    .field--name-body {
      p:nth-child(2) {
        margin-bottom: 18px;
        line-height: 26px;
      }
      p:nth-child(3) {
        @include font-size(30px);
        line-height: 36px;
        margin-bottom: 36px;
      }
      p:nth-child(4) {
        @include font-size(20px);
      }
    }
  }
}
