@include breakpoint(mobile) {
  .block-mapaddressblock {
    margin-bottom: $vert-spacing-unit;
    h2 {
      background: $dupree-red;
      padding: $vert-spacing-unit 0;
      color: $white;
      text-align: center;
    }
    .field--name-body {
      background: $orange;
      color: $white;
      text-align: center;
      padding: $vert-spacing-unit 0;
      p {
        font-family: 'MuseoSlab-700';
      }
      p:first-child {
        @include font-size(24px);
        font-family: 'MuseoSlab-900';
      }
      p:last-child {
        @include font-size(24px);
        font-family: 'MuseoSlab-900';
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .block-mapaddressblock {
    margin-bottom: $vert-spacing-unit;
    h2 {
      background: $dupree-red;
      padding: $vert-spacing-unit 0;
      color: $white;
      text-align: center;
    }
    .field--name-body {
      background: $orange;
      color: $white;
      text-align: center;
      padding: $vert-spacing-unit 0;
      p {
        font-family: 'MuseoSlab-700';
      }
      p:first-child {
        @include font-size(24px);
        font-family: 'MuseoSlab-900';
      }
      p:last-child {
        @include font-size(24px);
        font-family: 'MuseoSlab-900';
      }
    }
  }
}

@include breakpoint(desktop) {
  .block-mapaddressblock {
    margin-bottom: $vert-spacing-unit;
    h2 {
      background: $dupree-red;
      padding: $vert-spacing-unit 0;
      color: $white;
      text-align: center;
    }
    .field--name-body {
      background: $orange;
      color: $white;
      text-align: center;
      padding: $vert-spacing-unit 0;
      p {
        font-family: 'MuseoSlab-700';
      }
      p:first-child {
        @include font-size(36px);
        line-height: 46px;
        font-family: 'MuseoSlab-900';
      }
      p:last-child {
        @include font-size(24px);
        font-family: 'MuseoSlab-900';
      }
    }
  }
}


