@include breakpoint(mobile) {
  .block-dupreepageturnerblock {
    position: relative;
    .pt-title-container {
      position: absolute;
      width: 260px;
      height: 50px;
      top: 43%;
      left: 50%;
      margin-left: -150px;
      margin-top: -36px;
      padding: 20px;
      background: rgba(245, 245, 235, 0.8);
      z-index:100;
      h2 {
        font-family: 'MuseoSlab-700';
        @include font-size(18px);
        text-align: center;
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .block-dupreepageturnerblock {
    position: relative;
    .pt-title-container {
      position: absolute;
      width: 260px;
      height: 50px;
      top: 43%;
      left: 50%;
      margin-left: -150px;
      margin-top: -36px;
      padding: 10px;
      background: rgba(245, 245, 235, 0.8);
      z-index:100;
      h2 {
        font-family: 'MuseoSlab-700';
        @include font-size(14px);
        text-align: center;
      }
    }
  }
}

@include breakpoint(phablet) {
  .block-dupreepageturnerblock {
    position: relative;
    .pt-title-container {
      position: absolute;
      width: 245px;
      height: 50px;
      top: 47%;
      left: 50%;
      margin-left: -150px;
      margin-top: -36px;
      padding: 10px;
      background: rgba(245, 245, 235, 0.8);
      z-index:100;
      h2 {
        font-family: 'MuseoSlab-700';
        @include font-size(18px);
        text-align: center;
      }
    }
  }
}

@include breakpoint(tablet) {
  .block-dupreepageturnerblock {
    position: relative;
    .pt-title-container {
      position: absolute;
      width: 410px;
      height: 72px;
      top: 46%;
      left: 50%;
      margin-left: -250px;
      margin-top: -36px;
      padding: 20px;
      h2 {
        font-family: 'MuseoSlab-900';
        @include font-size(24px);
        text-align: center;
      }
    }
  }
}

@include breakpoint(tabletwide) {
  .block-dupreepageturnerblock {
    position: relative;
    .pt-title-container {
      position: absolute;
      width: 430px;
      height: 65px;
      top: 47%;
      left: 50%;
      margin-left: -254px;
      margin-top: -36px;
      padding: 14px;
      h2 {
        font-family: 'MuseoSlab-900';
        @include font-size(28px);
        text-align: center;
      }
    }
  }
}

@include breakpoint(laptop) {
  .block-dupreepageturnerblock {
    position: relative;
    .pt-title-container {
      position: absolute;
      width: 460px;
      height: 65px;
      top: 50%;
      left: 50%;
      margin-left: -254px;
      margin-top: -36px;
      padding: 15px;
      h2 {
        font-family: 'MuseoSlab-900';
        @include font-size(30px);
        text-align: center;
      }
    }
  }
}

@include breakpoint(desktop) {
  .block-dupreepageturnerblock {
    position: relative;
    .pt-title-container {
      position: absolute;
      width: 460px;
      height: 65px;
      top: 47%;
      left: 50%;
      margin-left: -250px;
      margin-top: -36px;
      padding: 15px;
      h2 {
        font-family: 'MuseoSlab-900';
        @include font-size(30px);
        text-align: center;
      }
    }
  }
}

