@include breakpoint(mobile) {

  .block-our-work {
    background: $dupree-red;
    h2 {
      font-family: 'MuseoSlab-900';
      text-align: center;
      @include font-size(24px);
      color: $white;
      line-height: 48px;
      padding: $vert-spacing-unit 0;
    }
    .show-all-work {
      h3 {
        text-align: center;
        @include font-size(24px);
        color: $white;
        line-height: 48px;
        padding: $vert-spacing-unit 0;
        a {
          font-family: 'MuseoSlab-900';
          text-align: center;
          color: $white;
          line-height: 74px;
          padding: $vert-spacing-unit 0;
          &:hover {
            color: $orange;
          }
        }
      }
    }

    .our-work-item {
      clear: both;
      float: none;
    }
    .our-work-landscape {
      width: 100%;
    }

    .our-work-square {
      width: 100%;
    }
  }
}

@include breakpoint(mobilelarge) {

  .block-our-work {
    background: $dupree-red;
    h2 {
      font-family: 'MuseoSlab-900';
      text-align: center;
      @include font-size(36px);
      color: $white;
      line-height: 74px;
      padding: $vert-spacing-unit 0;
    }
    .show-all-work {
      clear: both;
      h3 {
        font-family: 'MuseoSlab-900';
        text-align: center;
        @include font-size(36px);
        color: $white;
        line-height: 74px;
        padding: $vert-spacing-unit 0;
        a {
          color: $white;
          padding: $vert-spacing-unit 0;
          &:hover {
            color: $orange;
          }
        }
      }
    }

    .our-work-item {
      clear: both;
      float: none;
    }
    .our-work-landscape {
      width: 100%;
    }

    .our-work-square {
      width: 100%;
    }
  }
}

@include breakpoint(phablet) {

  .block-our-work {
    background: $dupree-red;
    padding: 0 100px;
    h2 {
      font-family: 'MuseoSlab-900';
      text-align: center;
      @include font-size(44px);
      color: $white;
      line-height: 64px;
      padding: $vert-spacing-unit 0;
    }
    .show-all-work {
      h3 {
        font-family: 'MuseoSlab-900';
        text-align: center;
        @include font-size(44px);
        color: $white;
        line-height: 64px;
        padding: $vert-spacing-unit 0;
      }
    }

    .our-work-item {
      clear: both;
      float: none;
    }
    .our-work-landscape {
      width: 100%;
    }

    .our-work-square {
      width: 100%;
    }
  }
}

@include breakpoint(tablet) {

  .block-our-work {
    background: $dupree-red;
    padding: 0;
    h2 {
      font-family: 'MuseoSlab-900';
      text-align: center;
      @include font-size(54px);
      color: $white;
      line-height: 74px;
      padding: $vert-spacing-unit 0;
    }
    .show-all-work {
      h3 {
        font-family: 'MuseoSlab-900';
        text-align: center;
        @include font-size(54px);
        color: $white;
        line-height: 74px;
        padding: $vert-spacing-unit 0;
        a {

        }
      }
    }

    .our-work-item {
      clear: none;
      float: left;
    }
    .our-work-landscape {
      width: 50%;
    }

    .our-work-square {
      width: 25%;
    }
  }
}

@include breakpoint(desktop) {

  .block-our-work {
    background: $dupree-red;
    padding: 0;
    h2 {
      font-family: 'MuseoSlab-900';
      text-align: center;
      @include font-size(54px);
      color: $white;
      line-height: 74px;
      padding: $vert-spacing-unit 0;
    }
    .show-all-work {
      h3 {
        font-family: 'MuseoSlab-900';
        text-align: center;
        @include font-size(54px);
        color: $white;
        line-height: 74px;
        padding: $vert-spacing-unit 0;
      }
    }

    .our-work-item {
      clear: none;
      float: left;
    }
    .our-work-landscape {
      width: 50%;
    }

    .our-work-square {
      width: 25%;
    }
    .client-logo {
      height: 140px;
      width: 140px;
      img {
        width: 100%;
      }
    }
  }
}
