@include breakpoint(mobile) {
  .block-our-location-block {
    @include clearfix;
    margin-bottom: $vert-spacing-unit*2;
    #map {
      clear: both;
      float: none;
      width: 100%;
    }
    span.address-image_one {
      img {
        width: 50%;
        margin-top: 5px;
      }
    }
    #right-panel {
      clear: both;
      float: none;
      width: 100%;
      height: 300px;
      margin-bottom: $vert-spacing-unit;
    }
  }
}

@include breakpoint(mobilelarge) {
  .block-our-location-block {
    @include clearfix;
    margin-bottom: $vert-spacing-unit*2;
    #map {
      clear: both;
      float: none;
      width: 100%;

    }
    span.address-image_one {
      img {
        width: 50%;
        margin-top: 5px;
      }
    }
    #right-panel {
      clear: both;
      float: none;
      width: 100%;
      height: 300px;
      margin-bottom: $vert-spacing-unit;
    }
  }
}

@include breakpoint(tabletwide) {
  .block-our-location-block {
    @include clearfix;
    margin-bottom: $vert-spacing-unit*2;
    #map {
      clear: none;
      float: left;
      width: 61%;
      height: 600px;
    }
    #right-panel {
      clear: none;
      float: right;
      width: 37%;
      height: 600px;
      margin-bottom: $vert-spacing-unit;
    }
  }
}

@include breakpoint(desktop) {
  .block-our-location-block {
    @include clearfix;
    margin-bottom: $vert-spacing-unit*2;
    #map {
      float: left;
      width: 61%;
      height: 600px;
    }
    #right-panel {
      float: right;
      width: 37%;
      height: 600px;
      margin-bottom: $vert-spacing-unit;
    }
  }
}