@include breakpoint(mobile) {
  .block-views-blockdupree-twitter-shortlist-block-1 {
    width: 90%;
    margin: 0 auto $vert-spacing-unit*2 auto;
    .view-dupree-twitter-shortlist {
      .grid-item {
        width: 100%;
      }
      a.read-more {
        font-family: 'MuseoSlab-700';
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .block-views-blockdupree-twitter-shortlist-block-1 {
    margin: 0 auto $vert-spacing-unit*2 auto;
    .view-dupree-twitter-shortlist {
      .grid-item {
        width: 80%;
        margin: 0 auto $vert-spacing-unit auto;
      }
      a.read-more {
        font-family: 'MuseoSlab-700';
      }
    }
  }
}

@include breakpoint(phablet) {
  .block-views-blockdupree-twitter-shortlist-block-1 {
    .view-dupree-twitter-shortlist {
      .grid-item {
        width: 76%;
        margin: 0 auto $vert-spacing-unit auto;
      }
      a.read-more {
        font-family: 'MuseoSlab-700';
      }
    }
  }
}

@include breakpoint(tablet) {
  .block-views-blockdupree-twitter-shortlist-block-1 {
    .view-dupree-twitter-shortlist {
      .grid-item {
        width: 100%;
        margin: 0;
        margin-bottom: $vert-spacing-unit;
        padding-right: 0;
      }
      a.read-more {
        font-family: 'MuseoSlab-700';
      }
    }
  }
}