@include breakpoint(mobile) {
  .block-views-blockmeet-the-team-block-1,
  .block-views-blockmeet-the-team-block-2 {
    .views-row {
      border: 1px solid $dupree-red;
      padding: 10px;
      @include round-corners(8px);
      margin-bottom: $vert-spacing-unit*2;
      .employee {
        @include clearfix();
        clear: left;
        .title-tag {
          display: block;
          margin-bottom: $vert-spacing-unit;
          h2 {
          }
          .job-title {
            @include font-size(18px);
            line-height: 22px;
            vertical-align: bottom;
            margin-bottom: $vert-spacing-unit;
          }
        }
        .image-container {
          text-align: center;
          margin-bottom: $vert-spacing-unit/2;
        }
        ul {
          list-style: inside;
          padding-left: $horz-spacing-unit*2;
          li {
            @include font-size(16px);
          }
        }
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .block-views-blockmeet-the-team-block-1,
  .block-views-blockmeet-the-team-block-2{
    .views-row {
      border: 1px solid $dupree-red;
      padding: 10px;
      @include round-corners(8px);
      margin-bottom: $vert-spacing-unit*2;
      .employee {
        @include clearfix();
        clear: left;
        .title-tag {
          display: block;
          margin-bottom: $vert-spacing-unit;
          h2 {
          }
          .job-title {
            @include font-size(18px);
            line-height: 22px;
            vertical-align: bottom;
            margin-bottom: $vert-spacing-unit;
          }
        }
        .image-container {
          text-align: center;
          margin-bottom: $vert-spacing-unit/2;
        }
        ul {
          list-style: inside;
          padding-left: $horz-spacing-unit*2;
          li {
            @include font-size(16px);
          }
        }
      }
    }
  }
}

@include breakpoint(phablet) {
  .block-views-blockmeet-the-team-block-1,
  .block-views-blockmeet-the-team-block-2 {
    .views-row {
      border: 1px solid $dupree-red;
      padding: 10px;
      @include round-corners(8px);
      width: 76%;
      margin: 0 auto $vert-spacing-unit auto;
      .employee {
        @include clearfix();
        clear: left;
        .title-tag {
          margin-bottom: $vert-spacing-unit/2;
          h2 {
            float: left;
            padding-right: $horz-spacing-unit;
          }
          .job-title {
            @include font-size(18px);
            line-height: 40px;
            vertical-align: bottom;
          }
        }
        .image-container {
          clear: left;
          float: left;
          padding-right: $horz-spacing-unit*2;
          margin-bottom: $vert-spacing-unit/2;
        }
        ul {
          list-style: inside;
          padding-left: $horz-spacing-unit*2;
          li {
            @include font-size(16px);
          }
        }
      }
    }
  }
}

@include breakpoint(phabletsidebar) {
  .block-views-blockmeet-the-team-block-1,
  .block-views-blockmeet-the-team-block-2 {
    .views-row {
      border: 1px solid $dupree-red;
      padding: 10px;
      @include round-corners(8px);
      width: 100%;
      margin: 0 auto $vert-spacing-unit auto;
      .employee {
        @include clearfix();
        clear: left;
        .title-tag {
          margin-bottom: $vert-spacing-unit/2;
          h2 {
            float: left;
            @include font-size(24px);
            padding-right: $horz-spacing-unit;
          }
          .job-title {
            @include font-size(16px);
            line-height: 40px;
            vertical-align: bottom;
          }
        }
        .image-container {
          clear: left;
          float: left;
          padding-right: $horz-spacing-unit*2;
          margin-bottom: $vert-spacing-unit/2;
        }
        ul {
          list-style: inside;
          padding-left: $horz-spacing-unit*2;
          li {
            @include font-size(14px);
          }
        }
      }
    }
  }
}

@include breakpoint(tablet) {
  .block-views-blockmeet-the-team-block-1,
  .block-views-blockmeet-the-team-block-2 {
    .views-row {
      border: 1px solid $dupree-red;
      padding: 10px;
      @include round-corners(8px);
      width: 100%;
      margin: 0 auto $vert-spacing-unit auto;
      .employee {
        @include clearfix();
        clear: left;
        .title-tag {
          margin-bottom: $vert-spacing-unit/2;
          h2 {
            float: left;
            @include font-size(28px);
            padding-right: $horz-spacing-unit;
          }
          .job-title {
            @include font-size(18px);
            line-height: 40px;
            vertical-align: bottom;
          }
        }
        .image-container {
          clear: left;
          float: left;
          padding-right: $horz-spacing-unit*2;
          margin-bottom: $vert-spacing-unit/2;
        }
        ul {
          list-style: inside;
          padding-left: $horz-spacing-unit*2;
          li {
            @include font-size(16px);
          }
        }
      }
    }
  }
}

@include breakpoint(laptop) {
  .block-views-blockmeet-the-team-block-1,
  .block-views-blockmeet-the-team-block-2 {
    .views-row {
      border: 1px solid $dupree-red;
      padding: 10px;
      @include round-corners(8px);
      width: 80%;
      margin: 0 auto $vert-spacing-unit auto;
      .employee {
        @include clearfix();
        clear: left;
        .title-tag {
          margin-bottom: $vert-spacing-unit/2;
          h2 {
            float: left;
            @include font-size(28px);
            padding-right: $horz-spacing-unit;
          }
          .job-title {
            @include font-size(18px);
            line-height: 40px;
            vertical-align: bottom;
          }
        }
        .image-container {
          clear: left;
          float: left;
          padding-right: $horz-spacing-unit*2;
          margin-bottom: $vert-spacing-unit/2;
        }
        ul {
          list-style: inside;
          padding-left: $horz-spacing-unit*2;
          li {
            @include font-size(16px);
          }
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .block-views-blockmeet-the-team-block-1,
  .block-views-blockmeet-the-team-block-2 {
    .views-row {
      border: 1px solid $dupree-red;
      padding: 10px;
      @include round-corners(8px);
      width: 49%;
      margin: 0 0 $vert-spacing-unit 0;
      float: left;
      &:nth-child(odd) {
        margin-right: 0.5%;
      }
      &:nth-child(even) {
        margin-right: 0.5%;
      }
      .employee {
        @include clearfix();
        clear: left;
        .title-tag {
          margin-bottom: $vert-spacing-unit/2;
          h2 {
            float: left;
            @include font-size(26px);
            padding-right: $horz-spacing-unit;
          }
          .job-title {
            @include font-size(16px);
            line-height: 40px;
            vertical-align: bottom;
          }
        }
        .image-container {
          clear: left;
          float: left;
          padding-right: $horz-spacing-unit*2;
          margin-bottom: $vert-spacing-unit/2;
        }
        ul {
          list-style: inside;
          padding-left: $horz-spacing-unit*2;
          li {
            @include font-size(16px);
          }
        }
      }
    }
  }
}