@include breakpoint(mobile) {
  .block-social-icons-block {
    clear: both;
    .social {
    position: absolute;
    top: 38px;
    transition: top 0.5s linear;
    left: 20%;

    }
    .social .showButts {
      width: 80px;
      height: 32px;
      transition: 0.75s cubic-bezier(.77, -0.7, .24, 1.3);
    }

    .fa {
      @include font-size(32px);
      color: $orange;
    }

    .social .shareText {
      display: inline-block;
      cursor: pointer;
      width: 32px;
      height: 32px;
    }

    .share-buttons {
      width: 0;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      transition: 0.75s cubic-bezier(.77, -0.7, .24, 1.3);
      vertical-align: top;
      text-align: right;
    }
    .social i {
      margin-left: 7px;
    }
    i.fa.fa-bars {
      margin-left: 14px;
      cursor: pointer;
    }

    .social a {
      @include linx ($orange, $orange, $orange, $orange);
      text-decoration: none;
    }

  }

  .a-scrolled-position {
    top: 22px;
  }
}

@include breakpoint(mobilelarge) {

  .block-social-icons-block {
    clear: both;
    .social {
      position: absolute;
    top: 38px;
    transition: top 0.5s linear;
    left: 20%;
    }
    .social .showButts {
      width: 80px;
      height: 32px;
      transition: 0.75s cubic-bezier(.77, -0.7, .24, 1.3);
      z-index: 301;
      cursor: pointer;
    }

    .social.a-scrolled-position {
      top: 22px;
    }

    .fa {
      @include font-size(32px);
      color: $orange;
    }

    .social .shareText {
      display: inline-block;
      cursor: pointer;
      width: 32px;
      height: 32px;
    }

    .share-buttons {
      width: 0;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      transition: 0.75s cubic-bezier(.77, -0.7, .24, 1.3);
      vertical-align: top;
      //text-align: right;
    }
    .social i {
      margin-left: 7px;
    }
    i.fa.fa-bars {
      margin-left: 14px;
      cursor: pointer;
    }

    .social a {
      @include linx ($orange, $orange, $orange, $orange);
      text-decoration: none;
    }

  }

  .a-scrolled-position {
    top: 22px;
  }
}
