#block-clientlogoexpander {
  .expander-container {
    height: 48px;
    padding-bottom: $vert-spacing-unit;
    #expand-clients {
      text-align: center;
      font-family: 'MuseoSlab-900';
      @include font-size(28px);
      line-height: 48px;
      text-transform: uppercase;
      cursor: pointer;
    }
    #contract-clients {
      text-align: center;
      font-family: 'MuseoSlab-900';
      @include font-size(28px);
      line-height: 48px;
      text-transform: uppercase;
      display: none;
      cursor: pointer;
    }
  }
}