@include breakpoint(mobile) {
  .block-dupree-image-compare {
    h2 {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-wrapper {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-handle {
      height: 38px;
      width: 58px;
      margin-left: -31px;
    }
    .twentytwenty-left-arrow {
      border-right: 6px solid white;
      left: 28%;
      margin-left: -17px;
    }

    .twentytwenty-right-arrow {
      border-left: 6px solid white;
      right: 28%;
      margin-left: -17px;
    }
    .dragger {
      color: $white;
      @include font-size(12px);
      line-height: 14px;
      position: absolute;
      top: 12px;
      left: 12px;
    }
  }
}

@include breakpoint(mobilelarge) {
  .block-dupree-image-compare {

    h2 {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-wrapper {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-handle {
      height: 38px;
      width: 58px;
      margin-left: -31px;
    }
    .twentytwenty-left-arrow {
      border-right: 6px solid white;
      left: 28%;
      margin-left: -17px;
    }

    .twentytwenty-right-arrow {
      border-left: 6px solid white;
      right: 28%;
      margin-left: -17px;
    }
    .dragger {
      color: $white;
      @include font-size(12px);
      line-height: 14px;
      position: absolute;
      top: 12px;
      left: 12px;
    }
  }
}

@include breakpoint(phablet) {
  .block-dupree-image-compare {

    h2 {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-wrapper {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-handle {
      height: 38px;
      width: 58px;
      margin-left: -31px;
    }
    .twentytwenty-left-arrow {
      border-right: 6px solid white;
      left: 28%;
      margin-left: -17px;
    }

    .twentytwenty-right-arrow {
      border-left: 6px solid white;
      right: 28%;
      margin-left: -17px;
    }
    .dragger {
      color: $white;
      @include font-size(12px);
      line-height: 14px;
      position: absolute;
      top: 12px;
      left: 12px;
    }
  }
}

@include breakpoint(tablet) {
  .block-dupree-image-compare {

    h2 {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-wrapper {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-handle {
      height: 48px;
      width: 68px;
      margin-left: -36px;
      &:before {
        bottom: 59%;
      }
      &:after {
        top: 61%;
      }
    }
    .twentytwenty-left-arrow {
      border-right: 10px solid white;
      left: 22%;
      margin-left: -17px;
    }

    .twentytwenty-right-arrow {
      border-left: 10px solid white;
      right: 22%;
      margin-left: -17px;
    }
    .dragger {
      color: $white;
      @include font-size(13px);
      line-height: 14px;
      position: absolute;
      top: 17px;
      left: 16px;
    }
  }
}

@include breakpoint(laptop) {
  .block-dupree-image-compare {
    padding: 0 100px;
    h2 {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-wrapper {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-handle {
      height: 48px;
      width: 68px;
      margin-left: -36px;
      &:before {
        bottom: 59%;
      }
      &:after {
        top: 61%;
      }
    }
    .twentytwenty-left-arrow {
      border-right: 10px solid white;
      left: 22%;
      margin-left: -17px;
    }

    .twentytwenty-right-arrow {
      border-left: 10px solid white;
      right: 22%;
      margin-left: -17px;
    }
    .dragger {
      color: $white;
      @include font-size(13px);
      line-height: 14px;
      position: absolute;
      top: 17px;
      left: 16px;
    }
  }
}

@include breakpoint(desktop) {
  .block-dupree-image-compare {
    padding: 0;
    h2 {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-wrapper {
      margin-bottom: $vert-spacing-unit/2;
    }
    .twentytwenty-handle {
      height: 48px;
      width: 68px;
      margin-left: -36px;
      &:before {
        bottom: 59%;
      }
      &:after {
        top: 61%;
      }
    }
    .twentytwenty-left-arrow {
      border-right: 10px solid white;
      left: 22%;
      margin-left: -17px;
    }

    .twentytwenty-right-arrow {
      border-left: 10px solid white;
      right: 22%;
      margin-left: -17px;
    }
    .dragger {
      color: $white;
      @include font-size(13px);
      line-height: 14px;
      position: absolute;
      top: 17px;
      left: 16px;
    }
  }
}