@include breakpoint(mobile){
  .block-contactblock {
    clear: both;
    display: block;
    height: 50%;
    padding: 20px;
    position: relative;

    .form-item-complete-message {
      max-width: 860px;
      margin: 0 auto;
      text-align: center;
      @include font-size(28px);
      line-height: 48px;
    }

    .form-container {
      display: block;
      //height: 70px;

    }
    h2.contact-title {
      display: block;
      @include font-size(24px);
      font-family: 'MuseoSlab-900';
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      padding-top: $vert-spacing-unit;
      margin-bottom: 40px;
    }
    #contact-add-form {
      .messages.messages--error {
        text-align: center;
        position: relative;
        top: -54px;
        color: $dupree-red;
        @include font-size(12px);
      }
      .form-wrapper {
        text-align: left;
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
        position: relative;
      }
      .form-item {
        background: rgba(0, 0, 0, 0.1);
        height: auto;
        z-index: 100;
        position: relative;
        span {
          display: block;
          overflow: hidden;
          label {
            color: $black;
            font-family: 'MuseoSlab-700';
            @include font-size(18px);
            font-weight: bold;
            position: absolute;
            display: block;
            top: -32px;
          }
        }
      }




      input.form-text,
      input.form-email,
      input.form-tel,
      textarea.form-textarea {
        width: 100%;
        display: block;
        background: transparent;
        margin: 0.3em 0 0 0;
        padding: 0.5em 1em 0.5em 0.5em;
        border: none;
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.5em;
        line-height: 1.6;
        opacity: 1;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .button,
      .form-submit {
        color: transparent;
        position: absolute;
        right: 5px;
        bottom: 5px;
        display: block;
        padding: 0;
        width: 3em;
        height: 3.4em;
        border: none;
        background: transparent;
        background: url(../images/next-arrow.png);
        z-index: 100;
        transition: transform 0.3s, opacity 0.3s;
        transform: translateX(-30%);
        opacity: 0;
        &:focus {
          box-shadow: none;
        }
      }

      .show {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
      }

      .step-counter {
        color: $black;
        font-family: 'MuseoSlab-700';
        @include font-size(18px);
        font-weight: bold;
        position: absolute;
        right: 0px;
        z-index: 100;
      }

      .ajax-progress {
        position: absolute;
        z-index: 100;
        display: block;
        top: -164px;
        .throbber {
          background: transparent url(../images/reload.gif) no-repeat 0px center;
          background-size: 32px 32px;
          display: inline-block;
          width: 32px;
          padding: 1px 5px 2px;
        }
        .ajax-progress-throbber .message {
          display: inline;
          padding: 1px 16px 2px;
        }
      }
    }
  }
}




@include breakpoint(mobilelarge) {
  .block-contactblock {
    clear: both;
    display: block;
    padding: 20px;
    position: relative;

    .form-item-complete-message {
      max-width: 860px;
      margin: 0 auto;
      text-align: center;
      @include font-size(28px);
      line-height: 48px;
    }

    .form-container {
      display: block;
    }
    h2.contact-title {
      display: block;
      font-family: 'MuseoSlab-900';
      @include font-size(28px);
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      padding-top: $vert-spacing-unit;
      margin-bottom: $vert-spacing-unit*3;
    }
    #contact-add-form {
      .messages.messages--error {
        text-align: center;
        position: relative;
        top: -54px;
        color: $dupree-red;
        @include font-size(12px);
      }
      .form-wrapper {
        text-align: left;
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
        position: relative;
      }
      .form-item {
        background: rgba(0, 0, 0, 0.1);
        height: auto;
        z-index: 100;
        position: relative;
        span {
          display: block;
          overflow: hidden;
          label {
            color: $black;
            font-family: 'MuseoSlab-700';
            @include font-size(18px);
            font-weight: bold;
            position: absolute;
            display: block;
            top: -32px;
          }
        }
      }

      input.form-text,
      input.form-email,
      input.form-tel,
      textarea.form-textarea {
        width: 100%;
        display: block;
        background: transparent;
        margin: 0.3em 0 0 0;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border: none;
        color: rgba(0, 0, 0, 0.8);
        font-size: 1.5em;
        line-height: 1.6;
        opacity: 1;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .button {
        color: transparent;
        position: absolute;
        right: 5px;
        bottom: 8px;
        display: block;
        padding: 0;
        width: 3em;
        height: 3.4em;
        border: none;
        background: transparent;
        background: url(../images/next-arrow.png);
        z-index: 100;
        transition: transform 0.3s, opacity 0.3s;
        transform: translateX(-30%);
        opacity: 0;
        &:focus {
          box-shadow: none;
        }
      }

      .show {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
      }

      .step-counter {
        color: $black;
        font-family: 'MuseoSlab-700';
        @include font-size(18px);
        font-weight: bold;
        position: absolute;
        right: 0px;
        z-index: 100;
      }

      .ajax-progress {
        position: absolute;
        z-index: 100;
        display: block;
        top: -164px;
        color: white;
        .throbber {
          background: transparent url(../images/reload.gif) no-repeat 0px center;
          background-size: 32px 32px;
          display: inline-block;
          width: 32px;
          padding: 1px 5px 2px;
        }
        .ajax-progress-throbber .message {
          display: inline;
          padding: 1px 16px 2px;
          color: $white;
        }
      }
    }
  }
}

@include breakpoint(phablet) {
  .block-contactblock {
    clear: both;
    display: block;
    padding: 20px;
    position: relative;
    h2.contact-title {
      display: block;

      @include font-size(42px);
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }
    #contact-add-form {
      .button {
        bottom: 2px;
      }
    }
  }
}

@include breakpoint(tablet) {
  .block-contactblock {
    clear: both;
    display: block;
    height: 50%;
    padding: 20px;
    position: relative;
    .form-container {
      display: block;
      padding: $vert-spacing-unit*2 0;

    }
    h2.contact-title {
      display: block;
      @include font-size(42px);
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }
  }
}

@include breakpoint(desktop) {
  .block-contactblock {
    clear: both;
    display: block;
    height: 50%;
    padding: 20px;
    position: relative;
    .form-container {
      display: block;

    }
    h2.contact-title {
      display: block;
      @include font-size(54px);
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }
  }
}


