.block-views-blockdupree-masonry-block-1 {
  .grid-sizer,
  .grid-item {
    width: 10%;
    // margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  /* 2 columns */
  .grid-item--width2 {
    width: 20%;
  }
}