#map {
    width: 100%;
    height: 600px;
    float: left;
    margin-right: 1%;
}

#our-location-content span {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
}

span.address-company {
    color: #af0917;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

span.address-post {
    margin-bottom: 9px;
}
span.address-coords {
    margin-bottom: 9px;
}