#map {
    width: 69%;
    height: 600px;
    float: left;
    margin-right: 1%;
}

#right-panel {
    width: 30%;
    height: 600px;
    font-size: 16px;
    float: right;
    border: 1px solid black;
    padding: 5px;
    overflow: scroll;
}

input[type="button"] {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding: 5px;
    color: #fff;
    background:#000;
    border:1px solid #ccc;
    cursor:pointer;
    border-radius: 0;
}

input[type="button"]:hover {
    background:#535050;
}

input#start {
    font-size: 16px;
    line-height: 30px;
    width: 100%;
}


input#fetch {
    width: 100%;
    margin: 9px auto 9px auto;
}

#our-location-content span {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
}

span.address-company {
    color: #af0917;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

span.address-post {
    margin-bottom: 9px;
}
span.address-coords {
    margin-bottom: 9px;
}