{#
/**
 * @file contact_block_entity.html.twig
 * Default theme implementation to present Contact Entity data.
 *
 * This template is used when viewing Contact Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_contact_block_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('contact_block_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
