{#
/**
 * @file
 * Default theme implementation to display a formatted video field.
 *
 * Available variables:
 * - items: A collection of videos.
 * - player_attributes: Player options including the following:
 *   - width: The width of the video (if known).
 *   - height: The height of the video (if known).
 *   - autoplay: Autoplay on or off
 *
 * @ingroup themeable
 */
#}
<video preload="{{ player_attributes.preload }}" {{ player_attributes.controls ? 'controls' : '' }} style="width:{{ player_attributes.width }}%;height:{{ player_attributes.height }}%;" {{ player_attributes.autoplay ? 'autoplay' : '' }} {{ player_attributes.loop ? 'loop' : '' }} {{ player_attributes.muted ? 'muted' : '' }}>
    {% for video_mp4 in items %}
    <source src="{{ video_mp4 }}" type="video/mp4" />
    <source src="{{ video_mp4 | replace({'.mp4':'.ogv'}) }}" type="video/ogv" />
    <source src="{{ video_mp4 | replace({'.mp4':'.WebM'}) }}" type="video/webm" />
  {% endfor %}

</video>
