.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slideUp {
  0% {
    opacity: 0.6;
    -webkit-transform: translateY(90%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0.6;
    -webkit-transform: translateY(90%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
  }
}