/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/*@import "compass";
@import "breakpoint";*/
.l-navigation,
.l-info-region,
.l-main,
.l-footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .l-navigation:after,
  .l-info-region:after,
  .l-main:after,
  .l-footer:after {
    content: " ";
    display: block;
    clear: both; }

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media (min-width: 44em) {
  .l-navigation,
  .l-info-region,
  .l-main,
  .l-footer {
    max-width: 1200px; }
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0; }
  .l-region--navigation {
    clear: both; }
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%; }
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 40.67797%;
    float: right;
    margin-right: 0; }
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }

@media (min-width: 48em) {
  .l-navigation,
  .l-info-region,
  .l-main,
  .l-footer {
    max-width: 1200px; }
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0; }
  .l-region--navigation {
    clear: both; }
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }

@media (min-width: 70em) {
  .l-navigation,
  .l-info-region,
  .l-main,
  .l-footer {
    max-width: 1200px; }
  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%; }
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0; }
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }

/*# sourceMappingURL=konnekt.layout.css.map */
