{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 *
 * @see template_preprocess_block()
 */
#}



<div class="social">
 <!--  <div class="share-buttons">
    {% for value in content %}
      <a href="{{ value.service_url }}" target="_new"><i class="fa {{ value.fa_class }}"></i></a>
    {% endfor %}
  </div> -->
  <!-- <i class="fa fa-share-alt shareText"></i> -->
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>
