<div class="flipbook-outer-container">
    <div class="flipbook-viewport">
        <div id="pt-container" class="container">
            <div class="flipbook">
                <div ignore="1" class="next-button"></div>
                <!-- Previous button -->
                <div ignore="1" class="previous-button"></div>
                {% for row in content %}
                    <div style="background-image:url({{ row.image }})"></div>
                {% endfor %}
                </div>
            </div>
        </div>
</div>