@include  breakpoint(mobile) {
  .path-careers {
    h1 {
      margin-bottom: $vert-spacing-unit;
    }
    .view-dupree-career {
      .views-row {
        padding-bottom: $vert-spacing-unit*2;
        border-bottom: 2px dashed $light-grey;
        margin-bottom: $vert-spacing-unit*2;
        h2 {
          margin-bottom: $vert-spacing-unit;
        }
      }
    }
  }
}

@include  breakpoint(mobilelarge) {
  .path-careers {
    h1 {
      margin-bottom: $vert-spacing-unit;
    }
    .view-dupree-career {
      .views-row {
        padding-bottom: $vert-spacing-unit*2;
        border-bottom: 2px dashed $light-grey;
        margin-bottom: $vert-spacing-unit*2;
        h2 {
          margin-bottom: $vert-spacing-unit;
        }
      }
    }
  }
}