.path-our-work {
  .l-main-wrapper {
    background: $dark-blue;
    h1 {
      color: $white;
    }
    .view-dupree-masonry {
      .grid {
        width: 100%;
      }
      .grid-sizer {
        width: 20%;
      }
      .grid-item {
        width: 20%;
        padding: 5px;
        .content-title-portrait {
          background: $dupree-red;
          color: $white;
          height: 60px;
          margin-top: -60px;
          z-index: 99;
          position: relative;
          width: 100%;
          text-align: center;
          display: none;
          .aligner {
            @include vertical-align();
          }
        }
      }
      /* 2 columns */
      .grid-item--width2 {
        width: 40%;
        .content-title-landscape {
          background: $dupree-red;
          color: $white;
          height: 36px;
          margin-top: -36px;
          z-index: 99;
          position: relative;
          width: 100%;
          text-align: center;
          display: none;
          .aligner {
            @include vertical-align();
          }
        }
      }
    }
  }
}