@include breakpoint(mobile) {
  .path-social {
    .l-main-wrapper {
      background: $twitter;
    }
    h1 {
      padding-left: 10px;
    }
    .grid {
      padding: 0 10px;
    }
    .grid-sizer,
    .grid-item {
      width: 100%;
      padding: 10px;
    }
    .grid-item {
      //padding: 10px;
      margin-bottom: 10px;
    }
  }
}

@include breakpoint(mobilelarge) {
  .path-social {
    .l-main-wrapper {
      background: $twitter;
    }
    h1 {
      padding-left: 10px;
    }
    .grid {
      padding: 0 10px;
    }
    .grid-sizer,
    .grid-item {
      width: 100%;
      padding: 10px;
    }
    .grid-item {
      //padding: 10px;
      margin-bottom: 10px;
    }
  }
}

@include breakpoint(phablet) {
  .path-social {
    h1 {
      padding-left: 10px;
    }
    .grid {
      padding: 0;
    }
    .grid-sizer,
    .grid-item {
      width: 49%;
      padding: 10px;
    }
    .grid-item {
      margin-bottom: 10px;
    }
  }
}

@include breakpoint(laptop) {
  .path-social {
    h1 {
      padding-left: 10px;
    }
    .grid {
      padding: 0;
    }
    .grid-sizer,
    .grid-item {
      width: 31.9%;
    }
    .grid-item {
      margin-bottom: 10px;
    }
  }
}

@include breakpoint(desktop) {
  .path-social {
    h1 {
      padding-left: 0;
    }
    .grid {
      padding: 0;
    }
    .grid-sizer,
    .grid-item {
      width: 32.8%;
      padding: 0;
    }
    .grid-item {
      margin-bottom: 10px;
    }
  }
}