@include breakpoint(mobile) {
  .path-case-studies {
    .view-dupree-portfolio {
      padding: 10px;
      .form-item-service {
        margin-bottom: $vert-spacing-unit;
      }
      .item-list {
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
          }
        }
      }
      .portfolio-row {
        text-align: center;
        margin-bottom: $vert-spacing-unit;
        .views-field-title {
          .field-content {
            @include vertical-align();
          }
          height: 96px;
          overflow: hidden;
          margin-bottom: $vert-spacing-unit/2;
        }
        h2 {
          margin-bottom: $vert-spacing-unit/2;
          a {
            @include linx($dupree-red, $dupree-red, $orange, $black);
          }
        }
        .views-field-field-cover-image {
          margin-bottom: $vert-spacing-unit/2;
          img {
            border: 1px solid $light-grey;
          }
        }
        .views-field-field-dupree-services {
          .field-content {
            color: $light-grey;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .path-case-studies {
    .view-dupree-portfolio {
      padding: 10px;
      .views-exposed-form {
        @include clearfix();
      }
      .form-item-service {
        margin-bottom: $vert-spacing-unit;
        width: 220px;
        float: left;
        margin-right: 5px;
      }
      .form-actions {
        float: left;
        margin-top: 26px;
        margin-bottom: 0;
      }
      .item-list {
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
          }
        }
      }
      .portfolio-row {
        text-align: center;
        margin-bottom: $vert-spacing-unit*2;
        .views-field-title {
          height: 96px;
          overflow: hidden;
          margin-bottom: $vert-spacing-unit/2;
          .field-content {
            @include vertical-align();
          }
        }
        h2 {
          @include vertical-align();
          margin-bottom: $vert-spacing-unit/2;
          a {
            @include linx($dupree-red, $dupree-red, $orange, $black);
          }
        }
        .views-field-field-cover-image {
          margin-bottom: $vert-spacing-unit/2;
          img {
            border: 1px solid $light-grey;
          }
        }
        .views-field-field-dupree-services {
          .field-content {
            color: $light-grey;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@include breakpoint(phablet) {
  .path-case-studies {
    .view-dupree-portfolio {
      .form-item-service {
        width: 300px;
        margin-right: 10px;
      }
      .form-actions {
        margin-top: 29px;
      }
      .portfolio-row {
        width: 48%;

      }
      .portfolio-row:nth-child(odd) {
        margin-right: 1%;
        clear: both;
        float: left;
      }
      .portfolio-row:nth-child(even) {
        margin-left: 1%;
        float: left;
      }
    }
  }
}

@include breakpoint(laptop) {
  .path-case-studies {
    .view-dupree-portfolio {
      .form-item-service {
        width: 340px;
        margin-right: 10px;
      }
      .form-select {
        height: 43px;
      }
      .form-actions {
        margin-top: 29px;
      }
      .portfolio-row {
        width: 48%;

      }
      .portfolio-row:nth-child(odd) {
        margin-right: 1%;
        clear: both;
        float: left;
      }
      .portfolio-row:nth-child(even) {
        margin-left: 1%;
        float: left;
      }
    }
  }
}