@include breakpoint(mobile) {
  .view-dupreer-front-page {
    clear: both;
    padding: $vert-spacing-unit $horz-spacing-unit;
    ul {
      margin-left: 0;
      list-style-type: none;
      li {
        background: transparent;
        width: 100%;
        padding: 0 10px;
        margin: 0 auto $vert-spacing-unit auto;
        .service-background {
          position: relative;
          text-align: center;
          img {
            width: 100%;
          }
        }
        .service-intro {
          background: $orange;
          position: absolute;
          top: 0;
          height: 100%;
          border: 14px solid red;
          padding: 5px;
          opacity: 0;
          transition: opacity 1.0s ease;
          &:hover {
            opacity: 1;
          }
          &:focus {
            opacity: 1;
          }
        }
        .content {
          @include vertical-align();
          p {
            @include linx($black, $black, $black, $black)
          }
        }

        h3 {
          color: $white;
          margin-bottom: 0.5em;
          font-family: 'MuseoSlab-700';
        }
        p {
          margin-bottom: 0.5em;
          line-height: 18px;
          @include font-size(12px);
        }
        .overview-read-more {
          color: $white;
          text-transform: uppercase;
          font-family: 'MuseoSlab-700';
        }
      }

    }
  }
}

@include breakpoint(mobilelarge) {
  .view-dupreer-front-page {
    clear: both;
    padding: $vert-spacing-unit $horz-spacing-unit;
    .service-list {
      padding-bottom: $vert-spacing-unit;
    }
    ul {
      margin-left: 0;
      list-style-type: none;
      li {
        background: transparent;
        width: 100%;
        padding: 0 10px;
        margin: 0 auto $vert-spacing-unit auto;
        .service-background {
          position: relative;
          text-align: center;
          img {
            width: 100%;
          }
        }
        .service-intro {
          background: $orange;
          position: absolute;
          top: 0;
          height: 100%;
          border: 14px solid red;
          padding: 5px;
          opacity: 0;
          transition: opacity 1.0s ease;
          &:hover {
            opacity: 1;
          }
          &:focus {
            opacity: 1;
          }
        }
        .content {
          @include vertical-align();
          p {
            @include linx($black, $black, $black, $black)
          }
        }

        h3 {
          color: $white;
          margin-bottom: 0.5em;
          font-family: 'MuseoSlab-700';
        }
        p {
          margin-bottom: 0.5em;
        }
        .overview-read-more {
          color: $white;
          text-transform: uppercase;
          font-family: 'MuseoSlab-700';
        }
      }

    }
  }
}

@include breakpoint(phablet) {
  .view-dupreer-front-page {
    clear: both;
    padding: 0;
    ul {
      li {
        background: transparent;
        width: 400px;
        padding: 0 10px;
        margin: 0 auto $vert-spacing-unit auto;
        .service-background {
          position: relative;
          text-align: center;
          img {
            width: 100%;
          }
        }
        .service-intro {
          background: $orange;
          position: absolute;
          top: 0;
          height: 100%;
          border: 14px solid red;
          padding: 5px;
          opacity: 0;
          transition: opacity 1.0s ease;
          &:hover {
            opacity: 1;
          }
          &:focus {
            opacity: 1;
          }
        }
        .content {
          @include vertical-align();
          p {
            @include linx($black, $black, $black, $black)
          }
        }

        h3 {
          color: $white;
          margin-bottom: 1em;
          @include font-size(28px);
        }
        p {
          @include font-size(18px);
          line-height: 28px;
          margin-bottom: 0.5em;
        }
        .overview-read-more {
          color: $white;
          text-transform: uppercase;
          @include font-size(20px);
        }
      }

    }
  }
}

@include breakpoint(tablet) {
  .view-dupreer-front-page {
    padding: $vert-spacing-unit 0;
    .service-list{
      @include clearfix();
    }
    ul {
      li {
        width: 50%;
        margin: 0 0 1em 0;
        float: left;
        &:nth-child(2n+1) {
          clear: left;
          float: left;
          padding-right: 0.5em;
        }
        &:nth-child(2n+2) {
          padding-left: 0.5em;
        }

        .service-background {
          position: relative;
          text-align: center;
          img {
            width: 100%;
          }
        }
        .service-intro {
          background: $orange;
          position: absolute;
          top: 0;
          height: 100%;
          border: 14px solid red;
          padding: 5px;
          opacity: 0;
          transition: opacity 1.0s ease;
          &:hover {
            opacity: 1;
          }
          &:focus {
            opacity: 1;
          }
        }
        .content {
          @include vertical-align();
          p {
            @include linx($black, $black, $black, $black)
          }
        }

        h3 {
          color: $white;
          @include font-size(26px);
          margin-bottom: 1em;
          line-height: 26px;
        }
        p {
          margin-bottom: 0.5em;
          line-height: 26px;
        }
        .overview-read-more {
          color: $white;
          text-transform: uppercase;
          @include font-size(20px);
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .view-dupreer-front-page {
    padding: $vert-spacing-unit*4 0;
    .service-list {
      margin: 0 auto;
    }
    ul {
      li {
        width: 33.3333%;
        float: left;
        clear: none;
        &:nth-child(odd) {
          clear: none;
          padding-right: 0;
        }
        &:nth-child(even) {
          padding-left: 0;
        }
        &:nth-child(3n+1) {
          padding: 0 10px 0 0;
        }
        &:nth-child(3n+2) {
          padding: 0 5px 0 5px;
        }
        &:nth-child(3n+3) {
          padding: 0 0 0 10px;
        }

        .service-background {
          position: relative;
          text-align: center;
        }
        .service-intro {
          background: $orange;
          position: absolute;
          top: 0;
          height: 100%;
          border: 14px solid red;
          padding: 5px;
          opacity: 0;
          transition: opacity 1.0s ease;
          &:hover {
            opacity: 1;
          }
          &:focus {
            opacity: 1;
          }
        }
        .content {
          @include vertical-align();
          p {
            @include linx($black, $black, $black, $black)
          }
        }

        h3 {
          @include font-size(28px);
          color: $white;
          margin-bottom: 1em;
        }
        p {
          margin-bottom: 1em;
          line-height: 26px;
        }
        .overview-read-more {
          color: $white;
          text-transform: uppercase;
          @include font-size(24px);
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .view-dupreer-front-page {
    .service-list{
      width: 1200px;
      margin: 0 auto;
    }
  }
}