@include breakpoint(mobile) {
  .view-dupree-articles {
    .views-row {
      margin-bottom: $vert-spacing-unit;
      border-bottom: 3px dotted $light-grey;
    }
    padding: 10px;
    h2 {
      //font-family: 'MuseoSlab-700';
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    a {
      @include linx($dupree-red, $dupree-red, $orange, $black);
    }
    ul.links {
      margin-bottom: $vert-spacing-unit;
    }
  }
}

@include breakpoint(mobilelarge) {
  .view-dupree-articles {
    .views-row {
      margin-bottom: $vert-spacing-unit;
      border-bottom: 3px dotted $light-grey;
    }
    padding: 10px;
    h2 {
      //font-family: 'MuseoSlab-700';
      margin: $vert-spacing-unit/2 0 $vert-spacing-unit 0;
    }
    a {
      @include linx($dupree-red, $dupree-red, $orange, $black);
    }
    ul.links {
      margin-bottom: $vert-spacing-unit;
    }
  }
}