@include breakpoint(mobile) {
  .path-work {
    .view-dupree-clients {
      .client {
        width: 80%;
        margin: 0 auto $vert-spacing-unit auto;
        text-align: center;
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .path-work {
    .view-dupree-clients {
      .client {
        width: 80%;
        margin: 0 auto $vert-spacing-unit auto;
        text-align: center;
      }
    }
  }
}

@include breakpoint(phablet) {
  .path-work {
    .view-dupree-clients {
      .client {
        width: 50%;
        margin: 0 0 $vert-spacing-unit 0;
        text-align: center;
        &:nth-child(2n+1) {
          padding-right: $horz-spacing-unit;
          clear: left;
          float: left;
        }
        &:nth-child(2n+2) {
          padding-left: $horz-spacing-unit;
          float: left;
        }
        .views-field-field-logo {
          height: 180px;
          .field-content {
            @include vertical-align();
          }
        }
      }
    }
  }
}

@include breakpoint(tablet) {
  .path-work {
    .view-dupree-clients {
      .client {
        width: 33.3333%;
        &:nth-child(3n+1) {
          padding-right: $horz-spacing-unit;
          clear: left;
          float: left;
        }
        &:nth-child(3n+2) {
          padding-left: $horz-spacing-unit/2;
          padding-right: $horz-spacing-unit/2;
          clear: none;
          float: left;
        }
        &:nth-child(3n+3) {
          padding-left: $horz-spacing-unit;
          clear: none;
          float: left;
        }
      }
    }
  }
}


@include breakpoint(desktop) {
  .path-work {
    .view-dupree-clients {
      .client {
        width: 25%;
        &:nth-child(4n+1) {
          padding-right: $horz-spacing-unit;
          clear: left;
          float: left;
        }
        &:nth-child(4n+2) {
          padding-left: $horz-spacing-unit/2;
          padding-right: $horz-spacing-unit/2;
          clear: none;
          float: left;
        }
        &:nth-child(4n+3) {
          padding-left: $horz-spacing-unit/2;
          padding-right: $horz-spacing-unit/2;
          clear: none;
          float: left;
        }
        &:nth-child(4n+4) {
          padding-left: $horz-spacing-unit;
          clear: none;
          float: left;
        }
      }
    }
  }
}
