@include breakpoint(mobile) {
  .path-taxonomy {
    .view-dupree-portfolio {
      padding: 10px;
      .views-row {
        text-align: center;
        margin-bottom: $vert-spacing-unit;
        .views-field-title {
          height: 74px;
          overflow: hidden;
          margin-bottom: $vert-spacing-unit/2;
        }
        h2 {
          margin-bottom: $vert-spacing-unit/2;
          a {
            @include linx($dupree-red, $dupree-red, $orange, $black);
          }
        }
        .views-field-field-cover-image {
          margin-bottom: $vert-spacing-unit/2;
          img{
            border: 1px solid $light-grey;
          }
        }
        .views-field-field-dupree-services {
          .field-content {
            color: $light-grey;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .path-taxonomy {
    .view-dupree-portfolio {
      padding: 10px;
      .views-row {
        text-align: center;
        margin-bottom: $vert-spacing-unit*2;
        .views-field-title {
          height: 74px;
          overflow: hidden;
          margin-bottom: $vert-spacing-unit/2;
        }
        h2 {
          @include vertical-align();
          margin-bottom: $vert-spacing-unit/2;
          a {
            @include linx($dupree-red, $dupree-red, $orange, $black);
          }
        }
        .views-field-field-cover-image {
          margin-bottom: $vert-spacing-unit/2;
          img{
            border: 1px solid $light-grey;
          }
        }
        .views-field-field-dupree-services {
          .field-content {
            color: $light-grey;
            text-transform: uppercase;
          }
        }
        &:last-child {
          @include clearfix();
        }
      }
    }
  }
}

@include breakpoint(phablet) {
  .path-taxonomy {
    .view-dupree-portfolio {
      .views-row {
        width: 48%;
        float: left;
        &:nth-child(2n+1) {
          //margin-right:1%;
          //clear: left;
        }
        &:nth-child(2n+2) {
          //margin-left:1%;
        }
      }
    }
  }
}

@include breakpoint(laptop) {
  .path-taxonomy {
    .view-dupree-portfolio {
      padding: 0;
      .views-row {
        text-align: center;
        width: 30%;
        float: left;
        margin: 0 0 $vert-spacing-unit*2 0;
        &:nth-child(3n+1) {
          margin-right:2%;
          clear: left;
          float: left;
        }
        &:nth-child(3n+2) {
          clear: none;
          margin-left: 2%;
          margin-right: 2%;
        }
        &:nth-child(3n+3) {
          margin-left: 2%;
          clear: none;
        }
        .views-field-field-dupree-services {
          .field-content {
            font-size: 80%;
          }
        }
      }
    }
  }
}