@include breakpoint(mobile) {
  .client-list {
    #client-list-container {
      overflow: hidden;
    }
    .title-container {
      position: relative;
      margin-bottom: $vert-spacing-unit;
      padding-top: $vert-spacing-unit * 3;
      &:after {
        content: '';
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: -20px;
        border-bottom: 1px solid #666;

      }
      h2 {
        text-align: center;
        font-family: 'MuseoSlab-900';
        @include font-size(28px);
        line-height: 34px;
        text-transform: uppercase;
      }
    }
    .container {
      @include clearfix();
      padding: 20px;
    }

    .client {
      width: 33.3333%;
      text-align: center;
      padding: 0;
      float: left;
      margin-bottom: 0;
      .views-field-field-logo {
        height: 100px;
        .field-content {
          @include vertical-align();
        }
      }
      .aligner {

      }
      .logo {

      }
      &:nth-child(3n+1) {
        padding-left: 0;
        padding-right: 10px;
      }
      &:nth-child(3n+2) {
        padding-left: 5px;
        padding-right: 5px;
      }
      &:nth-child(3n+3) {
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .client-list {
    #client-list-container {
      overflow: hidden;
    }
    .title-container {
      position: relative;
      margin-bottom: $vert-spacing-unit;
      padding-top: $vert-spacing-unit * 3;
      &:after {
        content: '';
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: -20px;
        border-bottom: 1px solid #666;

      }
      h2 {
        text-align: center;
        font-family: 'MuseoSlab-900';
        @include font-size(34px);
        line-height: 54px;
        text-transform: uppercase;
      }
    }
    .container {
      @include clearfix();
      padding: 20px;
    }

    .client {
      width: 33.3333%;
      text-align: center;
      padding: 0;
      float: left;
      margin-bottom: 0;
      .views-field-field-logo {
        height: 100px;
        .field-content {
          @include vertical-align();
        }
      }
      &:nth-child(3n+1) {
        padding-left: 0;
        padding-right: 10px;
      }
      &:nth-child(3n+2) {
        padding-left: 5px;
        padding-right: 5px;
      }
      &:nth-child(3n+3) {
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }
}

@include breakpoint(phablet) {
  .client-list {
    #client-list-container {
      overflow: hidden;
    }
    .title-container {
      h2 {
        text-align: center;
        font-family: 'MuseoSlab-900';
        @include font-size(44px);
        line-height: 54px;
      }
    }
    .client {
      width: 25%;
      text-align: center;
      padding: $vert-spacing-unit 0;
      float: left;
      margin-bottom: $vert-spacing-unit;
      .views-field-field-logo {
        height: 120px;
        .field-content {
          @include vertical-align();
        }
      }
      &:nth-child(4n+1) {
        padding-left: 0;
        padding-right: 10px;
      }
      &:nth-child(4n+2) {
        padding-left: 5px;
        padding-right: 5px;
      }
      &:nth-child(4n+3) {
        padding-right: 5px;
        padding-left: 5px;
      }
      &:nth-child(4n+4) {
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }
}

@include breakpoint(tablet) {
  .client-list {
    #client-list-container {
      overflow: hidden;
    }
    .client {
      width: 20%;
      text-align: center;
      padding: $vert-spacing-unit 0;
      float: left;
      margin-bottom: $vert-spacing-unit;
      .views-field-field-logo {
        height: 100px;
        .field-content {
          @include vertical-align();
        }
      }
      &:nth-child(5n+1) {
        padding-left: 0;
        padding-right: 10px;
      }
      &:nth-child(5n+2) {
        padding-left: 5px;
        padding-right: 5px;
      }
      &:nth-child(5n+3) {
        padding-right: 5px;
        padding-left: 5px;
      }
      &:nth-child(5n+4) {
        padding-right: 0;
        padding-left: 10px;
      }
      &:nth-child(5n+5) {
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }
}

@include breakpoint(laptop) {
  .client-list {
    #client-list-container {
      overflow: hidden;
    }
    .title-container {
      h2 {
        text-align: center;
        font-family: 'MuseoSlab-900';
        @include font-size(54px);
        line-height: 74px;
      }
    }
    .client {
      width: 20%;
      text-align: center;
      padding: $vert-spacing-unit 0;
      float: left;
      margin-bottom: $vert-spacing-unit;
      .views-field-field-logo {
        height: 140px;
        .field-content {
          @include vertical-align();
        }
      }
      &:nth-child(5n+1) {
        padding-left: 0;
        padding-right: 10px;
      }
      &:nth-child(5n+2) {
        padding-left: 5px;
        padding-right: 5px;
      }
      &:nth-child(5n+3) {
        padding-right: 5px;
        padding-left: 5px;
      }
      &:nth-child(5n+4) {
        padding-right: 0;
        padding-left: 10px;
      }
      &:nth-child(5n+5) {
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }
}

@include breakpoint(desktop) {
  .client-list {
    #client-list-container {
      overflow: hidden;
    }
    .client {
      width: 16.66666%;
      text-align: center;
      padding: $vert-spacing-unit 0;
      float: left;
      margin-bottom: $vert-spacing-unit;
      .views-field-field-logo {
        height: 180px;
        .field-content {
          @include vertical-align();
        }
      }
      &:nth-child(6n+1) {
        padding-left: 0;
        padding-right: 10px;
      }
      &:nth-child(6n+2) {
        padding-left: 5px;
        padding-right: 5px;
      }
      &:nth-child(6n+3) {
        padding-right: 5px;
        padding-left: 5px;
      }
      &:nth-child(6n+4) {
        padding-right: 0;
        padding-left: 10px;
      }
      &:nth-child(6n+5) {
        padding-right: 5px;
        padding-left: 5px;
      }
      &:nth-child(6n+6) {
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }
}