@include breakpoint(mobile) {
  .view-dupree-case-studies {
    margin-bottom: $vert-spacing-unit;
    .views-row {
      padding: $vert-spacing-unit*2 0;
      text-align: center;
      border-bottom: dashed $light-grey 2px;
      h2 {
        margin-bottom: $vert-spacing-unit;
      }
      .field--name-field-cover-image {
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
}

@include breakpoint(mobilelarge) {
  .view-dupree-case-studies {
    margin-bottom: $vert-spacing-unit;
    .views-row {
      padding: $vert-spacing-unit*2 0;
      text-align: center;
      border-bottom: dashed $light-grey 2px;
      h2 {
        margin-bottom: $vert-spacing-unit;
      }
      .field--name-field-cover-image {
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
}


@include breakpoint(tablet) {
  .view-dupree-case-studies {
    margin-bottom: $vert-spacing-unit;
    .views-row {
      padding: $vert-spacing-unit*2 0;
      text-align: left;
      border-bottom: dashed $light-grey 2px;
      @include clearfix();
      h2 {
        margin-bottom: $vert-spacing-unit;
      }
      .field--name-field-cover-image {
        margin-bottom: $vert-spacing-unit;
        float: left;
        padding-right: $horz-spacing-unit;
      }
      .field--name-field-intro {
        height:140px;
        .aligner {
          @include vertical-align();
        }

      }
    }
  }
}