$dark-grey: #222222;
$black : #000;
$white : #FFF;




/*
* Forms
*/
$focus    : #CCC;
$form-box-shadow: lighten(#464646, 50%);
$form-element-background : #FFF;
$form-element-border: #464646;
$form-element-color: #464646;
$form-element-error: red;


$light-grey: #ccc;
$mid-grey : grey;
$mid-blue   : blue;
$pale-blue  : lighten($mid-blue, 50%);
$dark-blue  : darken($mid-blue, 50%);
$orange     : #f7931e;
$dupree-red : #af0917;
$book-bg    : #f2f2ef;

$grey-fade  :rgba(120,116,116,0.8);

/*
** Font Colors
*/
$base-font-color: #464646;
$link     : $dupree-red;
$visit    : $dupree-red;
$hover    : orange;
$active   : $dupree-red;

/*
* Backgrounds
*/
$twitter  : #f5f8fa;