// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$tab: 44em;
$desk: 70em;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;

// config/_breakpoints.scss
$breakpoints: (
        'small':    480px,
        'medium':   720px,
        'large':    960px,
        'x-large':  1100px
);
