$open_sans : 'Open Sans', Helvetica, Arial, sans-serif;

// config/_typography.scss
$text-sizing: (
        'centi': (
                'small': (
                        'font-size': 12px,
                        'line-height': 16px
                )
        ),
        'deci': (
                'small': (
                        'font-size': 14px,
                        'line-height': 20px
                )
        ),
        'base': (
                'small': (
                        'font-size': 16px,
                        'line-height': 26px
                ),
                'large': (
                        'font-size': 20px,
                        'line-height': 30px
                )
        ),
        'deca': (
                'small': (
                        'font-size': 18px,
                        'line-height': 26px
                ),
                'large': (
                        'font-size': 20px,
                        'line-height': 30px
                )
        ),
        'hecto': (
                'small': (
                        'font-size': 22px,
                        'line-height': 28px
                ),
                'large': (
                        'font-size': 24px,
                        'line-height': 32px
                )
        ),
        'kilo': (
                'small': (
                        'font-size': 24px,
                        'line-height': 32px
                ),
                'large': (
                        'font-size': 28px,
                        'line-height': 36px
                )
        ),
        'mega': (
                'small': (
                        'font-size': 36px,
                        'line-height': 48px
                ),
                'large': (
                        'font-size': 40px,
                        'line-height': 60px
                ),
                'x-large': (
                        'font-size': 48px,
                        'line-height': 72px
                )

        )
);


// lib/functions/_responsive.scss
@function breakpoint($breakpoint-name) {
  $breakpoint-value: map-get($breakpoints, $breakpoint-name);

  @if $breakpoint-value {
    @return $breakpoint-value;
  }

  @warn "Breakpoint '#{$breakpoint-name}' not found in $breakpoints";
}

// lib/functions/_typography.scss
@function text-breakpoints-for($text-size) {
  $text-breakpoints: map-get($text-sizing, $text-size);

  @if $text-breakpoints {
    @return $text-breakpoints;
  }

  @warn "Text size '#{$text-size}' not found in $text-sizing";
}

@function text-properties-for($text-size, $breakpoint-name) {
  $text-breakpoints: text-breakpoints-for($text-size);
  $text-properties: map-get($text-breakpoints, $breakpoint-name);

  @if $text-properties {
    @return $text-properties;
  }

  @warn "Breakpoint '#{$breakpoint-name}' for text size '#{$text-size}' was not found";
}

// lib/mixins/_responsive.scss
@mixin respond-above($breakpoint-name) {
  $breakpoint-value: breakpoint($breakpoint-name);

  @if $breakpoint-value {
    @media screen and (min-width: $breakpoint-value) {
      @content;
    }
  }
}

// lib/mixins/_typography.scss
@mixin text-size($text-size, $breakpoint-name: 'small') {
  $text-size-properties: text-properties-for($text-size, $breakpoint-name);

  @if $text-size-properties {
    font-size: map-get($text-size-properties, 'font-size');
    line-height: map-get($text-size-properties, 'line-height');
  }
}

@mixin responsive-text-size($text-size, $default-breakpoint: 'small') {
  @include text-size($text-size, $default-breakpoint);

  $text-breakpoints-map: text-breakpoints-for($text-size);
  $text-breakpoints-keys: map-keys($text-breakpoints-map);

  @each $breakpoint-name in $text-breakpoints-keys {
    @if $breakpoint-name != $default-breakpoint {
      @include respond-above($breakpoint-name) {
        @include text-size($text-size, $breakpoint-name);
      }
    }
  }
}