@mixin breakpoint($point) {
  // desktopwide : 1450px
  // desktop : 1120px
  // laptop : 1024px
  // tablet : 800px
  // phablet : 600px
  // mobile: 480px

  @if $point == desktopwide {
    @media (min-width: 90em) { @content ; } //1120px ->
  }
  @else if $point == desktop {
    @media (min-width: 70em) { @content ; } //1120px ->
  }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; } //1024px - 1120px
  }
  @else if $point == tabletwide {
    @media (min-width: 56em) { @content ; } //768px - 1024px
  }
  @else if $point == tablet {
    @media (min-width: 48em) { @content ; } //768px - 1024px
  }
  @else if $point == phabletsidebar {
    @media (min-width: 44em)  { @content ; } //464px - 768px
  }
  @else if $point == phablet {
    @media (min-width: 29em)  { @content ; } //464px - 768px
  }
  @else if $point == mobilelarge {
    @media (min-width: 22em)  { @content ; } //352px - 464px
  }
  @else if $point == mobile {
    @media (max-width: 22em)  { @content ; } //352px
  }
}