.main-menu-hidden {
  position: fixed;
  top: 75px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background : rgba(0, 0 , 0, 0.2);
  z-index: 200;
  display: none;
  .menu-container {
    position: relative;
    transition: opacity 1s;
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed; /* or absolute */
     top: 75px;
    left: 0;
    padding: 20px;
  }
  ul {
    list-style-type: none;
    margin-left: 0;
    position: absolute;
      left: 20%;
    @include vertical-align();
    li {
      text-align: left;
      .main-menu-landscape {
        @include font-size(20px);
        line-height: 24px;
      }
      a {
        display: block;
        font-family: 'MuseoSlab-700';
        @include linx ($orange, $white, $orange, $orange);
        @include font-size(28px);
        line-height: 32px;
        padding: 5px 0;
        color:#000;
      }
      a:visited {
      color:#000;
      }
    }
  }
}
.show-main-menu {
  opacity: 1;
  display: block;
}

i.fa.fa-times-circle-o {
  position: absolute;
  top: 0px;
  left: 0px;
  color: $orange;
  @include font-size(36px);
  cursor: pointer;
}

@include breakpoint(tablet) {
  .main-menu-hidden {
    ul {
      list-style-type: none;
      margin-left: 0;
      position: absolute;
      left: 20%;
      li {
        text-align: left;
        .main-menu-landscape {
          @include font-size(20px);
          line-height: 24px;
        }
        a {
          font-family: 'MuseoSlab-700';
          @include font-size(36px);
          line-height: 42px;
          padding: 5px 0;
           color:#000;

        }
      }
    }
  }
  i.fa.fa-times-circle-o {
    position: absolute;
    top: 0px;
    left: 0px;
    color: $orange;
    @include font-size(42px);
    cursor: pointer;
  }
}
