.tabs {
  margin-bottom: $vert-spacing-unit;
  ul.tabs.primary {
    @extend %inline-list;
    li{
      margin-right: 0;

    }
    a {
      display: block;
      @include round-top-corners(8px);
      background: #bbbbbb;
      padding: 5px 10px;
      color: $dark-grey;
      border-top: 1px solid $black;
      border-left: 1px solid $black;
      border-right: 1px solid $black;
      border-bottom: 1px solid $black;
    }
    a.is-active {
      background: white;
      color: black;
      border-bottom: 1px solid $white;
    }
  }
}
