@include breakpoint(mobile) {
  #block-controllers {
    position: absolute;
    bottom: 100px;
    left: 50%;
    height: 34px;
    display: block;
    background: transparent;
    width: 220px;
    margin-left: -110px;
    margin-top: $vert-spacing-unit;
    z-index: 999;
    .bottom-first-button,
    .bottom-next-button,
    .bottom-previous-button,
    .bottom-last-button,
    .bottom-play-button {
      color: #ffffff;
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    .bottom-first-button {
      background: url(../images/FastBack.png);
      margin-right: 5px;
    }
    .bottom-previous-button {
      background: url(../images/PageBack.png);
      margin-right: 5px;
    }
    .bottom-next-button {
      background: url(../images/PageForward.png);
      margin-right: 5px;
    }
    .bottom-last-button {
      background: url(../images/FastForward.png);
      margin-right: 5px;
    }
    .bottom-play-button {
      background: url(../images/AutoPlay.png);
    }
  }
}

@include breakpoint(mobilelarge) {
  #block-controllers {
    position: absolute;
    bottom: 224px;
    left: 50%;
    height: 34px;
    display: block;
    background: transparent;
    width: 220px;
    margin-left: -110px;
    margin-top: $vert-spacing-unit;
    z-index: 999;
    .bottom-first-button,
    .bottom-next-button,
    .bottom-previous-button,
    .bottom-last-button,
    .bottom-play-button {
      color: #ffffff;
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    .bottom-first-button {
      background: url(../images/FastBack.png);
      margin-right: 5px;
    }
    .bottom-previous-button {
      background: url(../images/PageBack.png);
      margin-right: 5px;
    }
    .bottom-next-button {
      background: url(../images/PageForward.png);
      margin-right: 5px;
    }
    .bottom-last-button {
      background: url(../images/FastForward.png);
      margin-right: 5px;
    }
    .bottom-play-button {
      background: url(../images/AutoPlay.png);
    }
  }
}

@include breakpoint(tablet) {
  #block-controllers {
    bottom: 20%;
  }
}

@include breakpoint(tabletwide) {
  #block-controllers {
    bottom: 60px;
  }
}

@include breakpoint(desktop) {
  #block-controllers {
    bottom: 120px;
    width: 240px;
    margin-left: -120px;
    .bottom-first-button,
    .bottom-next-button,
    .bottom-previous-button,
    .bottom-last-button {
      margin-right: 10px;
    }
  }
}